{% extends 'home/header.html' %}

{% block inhead %}
{% endblock %}


{% block title %}
    Главная страница
{% endblock %}

{% block body_block %}
    <div class="container mt-2">
        <ul class="mb-2">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Домашняя страница</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'chat' %}">Чат</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'weather' %}">Погода</a>
            </li>
            {% include "games/game_list.html" %}
        </ul>
    </div>
{% endblock %}