{% load static %}

<nav class="navbar navbar-dark bg-gradient container-fluid user-select-none" aria-label="navbar">
    <div class="row container-fluid px-2">

        <div class="col-auto d-none d-lg-block" id="navbarsExample01">
            <button class="navbar-toggler d-none d-lg-block d-0 m-0 " type="button">
                <span> <img src="{% static "key-d-32.png" %}" width="32" height="32" alt="logo"> </span><span>
                    <svg class="text-stroke">
                        <text class="text" x="0" y="20">Disname</text>
                    </svg>
                </span>
            </button>
            {#            <form role="search" class="hidden">#}
            {#                <input class="form-control" type="search" placeholder="Search" aria-label="Search">#}
            {#            </form>#}
        </div>

        <button class="col-auto navbar-toggler collapsed mx-3" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"
                aria-expanded="false">
            <span class="navbar-toggler-icon"></span> <span>
                    <svg class="text-stroke">
                        <text class="text" x="0" y="20">Disname</text>
                     </svg>
                </span>
        </button>

        <div class="col-auto offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1"
             id="offcanvasWithBothOptions"
             aria-labelledby="offcanvasWithBothOptionsLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Меню</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body  z-3">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Домашняя страница</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'chat' %}">Чат</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'weather' %}">Погода</a>
                    </li>
                    {% include "games/game_dropdown_list.html" %}
                </ul>
            </div>
        </div>
        <div class="col-auto">
            <ul class="d-flex justify-content-end me-1 mb-0">
                <li class="nav-item dropdown d-flex">
                    {% if user.is_authenticated %}
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                           aria-expanded="false">{{ user.get_username }}</a>
                        <ul class="dropdown-menu dropdown-menu-end float-end">
                            {% if user.is_superuser %}
                                <li><a class="dropdown-item" href="{% url 'admin:index' %}">Административная
                                    панель</a></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="{% url 'logout' %}?next={{ request.path }}">Выйти</a>
                            </li>
                        </ul>
                    {% else %}
                        <a class="nav-link d-flex justify-content-end " href="#" data-bs-toggle="dropdown"
                           aria-expanded="false">Войти</a>
                        <ul class="dropdown-menu dropdown-menu-end float-end">
                            <li><a class="dropdown-item" href="{% url 'login' %}?next={{ request.path }}">Войти</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'register' %}?next={{ request.path }}">Зарегистрироваться</a>
                            </li>
                        </ul>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>