{% extends 'home/header.html' %}
{% load bool %}
{% load static %}
{% load group_check %}

{% block inhead %}
    <style>

        body {
            padding: 0;
        }

        .hide-letter, .letter {
            align-items: center;
            vertical-align: center;
            justify-content: center;
        }

        .hide-letter {
            background: linear-gradient(45deg, #000000, #3f3f3f);
        }

        .letter {
            background: linear-gradient(45deg, #bbbbbb, #ffffff);
            position: relative;
            font: 42px Arial bold normal;
            font-weight: 900;
            color: black;
            text-align: center;
            text-transform: uppercase;
        }

        .letter span {
            position: absolute;
            top: 50%;
            left: 50%;
            margin: 0 -50% 0 0;
            transform: translate(-50%, -50%)
        }

        @media (min-width: 992px) {
            .hide-letter, .letter {
                width: 60px;
                height: 60px;
                margin: 4px;
            }
        }

        @media (max-width: 991px) {
            .hide-letter, .letter {
                width: 50px;
                height: 50px;
                margin: 2px;
            }
        }

        #keyboard, #keyboard_toggle {
            max-width: 600px;

        }

        #keyboard .border {
            align-items: center;
            justify-content: center;
            padding: 1px !important;
        }

        .wheel {
            margin: 0 auto;
            float: left;
            width: 566px;
            height: 303px;
            overflow: hidden;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            cursor: default;
            align-items: center;
            justify-content: center;
        }

        .wheel-info {
            max-height: 80px;
            overflow: auto;
            width: 80vw;
        }

        #wheel {
            position: relative;
            top: -283px;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            transition: transform 3s ease-out;
        }

        .border-warning {
            box-shadow: 0 0 10px 5px rgba(255, 100, 0, 0.5),
            0 0 10px 5px rgba(255, 255, 0, 0.3),
            0 0 10px 5px rgba(0, 255, 0, 0.2) !important;
        }

        .pole-chudes-logo img {
            width: 140px;
            height: 60px;
        }

        @media (max-width: 568px) {
            .wheel {
                width: 100%;
                height: 50vw;
            }

            #wheel {
                top: -55vw;
                width: 100%;
            }

            .wheel .arrow img {
                width: 33px;
                height: 33px;
            }
        }
    </style>
{% endblock %}


{% block title %}
    Игра Поле Чудес
{% endblock %}

{% block body_block %}
    <audio id="wheelSound" src="{% static "/pole_chudes/wheel_sound.mp3" %}" muted="muted" loop="loop"></audio>
    <div class="container-xl" id="game-field">

        <div class="row text-center">
            <div class="col text-center pole-chudes-logo">
                <a {% if creator.id == user.id %} href="?start_new_game=new" {% else %} href="#"
                                                  onclick="location.reload()" {% endif %} >
                    <img src="{% static "/pole_chudes/logo.png" %}" alt="Поле чудес" class="object-fit-contain">
                </a>
            </div>
            {#        <div class="col-xl-5 mb-4">#}
            {#            <form method="GET" action="{% url 'guess_the_word_game' %}">#}
            {#                {% csrf_token %}#}
            {#                <div class="input-group justify-content-md-end">#}
            {#                    <button class="btn btn-primary btn-lg" type="submit">Новая игра</button>#}
            {#                </div>#}
            {#            </form>#}
            {#        </div>#}
        </div>
        <div class="row players pb-2 gap-1 px-1">
            {% for player in players %}
                <div class="nav-item dropdown col">
                    <a class="btn btn-primary d-flex text-center col border
                    {% if not player.in_game %} bg-black text-dark {% endif %}
                    {% if player.user.id == user.id %}" data-bs-toggle="dropdown" aria-expanded="false {% endif %}">
                        <div class="text-nowrap player-name">{{ player.name }}</div>
                        :&nbsp;
                        <em class="score"> {{ player.score }} </em>
                    </a>

                    <ul class="dropdown-menu">
                        <li>
                            <div class="dropdown-item">
                                <input type="text" class="form-control active my-3 col" autofocus
                                       placeholder="Введите имя" aria-label="Введите имя"
                                       aria-describedby="input_name">
                                <button class="btn btn-primary col-12 mx-auto"
                                        onclick="renamePlayer(this, {{ player.id }})">Переименовать
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
            {% endfor %}
            {#        <div class="col-lg pb-2">#}
            {#            <a class="btn btn-outline-success d-flex text-center" href="{% url 'guess_the_word_game_results' %}"#}
            {#               role="button">#}
            {#                Таблица рекордов#}
            {#            </a>#}
            {#        </div>#}
            {#        <div class="col-lg pb-2">#}
            {#            <a class="btn btn-outline-primary d-flex text-center" id="rules_btn" href="#rules" data-bs-toggle="collapse"#}
            {#               role="button" aria-expanded="true" aria-controls="collapseExample">#}
            {#                Напомнить правила#}
            {#            </a>#}
            {#        </div>#}
        </div>
        <div class="collapse pb-2" id="rules">
            <div class="card card-body">
                <b>
                    <span> Вам нужно отгадать загаданное слово.<br>
                   Вращайте барабан и называйте букву, либо отгадайте слово целиком, чтобы победить.<br>
                        Если буква названа неверно ход переходит к следующему игроку.<br>
                        Если слово названо неверно вы проигрываете.<br>
                    </span>
                </b>
            </div>
        </div>
        <div class="row">
            <h2 id="wordbord" class="row justify-content-center my-2 mx-auto">
                {% for letter in word_mask %}
                        {% if letter == '*' %}
                            <div class="hide-letter border border-white"></div>
                        {% else %}
                            <div class="letter border border-black"><span class="mx-auto">{{ letter }}</span></div>
                        {% endif %}
                {% endfor %}
            </h2>
        </div>

        <div class="row">
            <div class="wheel mx-auto px-0 position-relative">
                <div class="wheel-info rounded-2 p-2 z-3 position-absolute top-0 start-50 translate-middle-x bg-dark
                text-warning pe-none bg-opacity-75 text-center visually-hidden"
                     tabindex="-1" aria-disabled="true">
                </div>
                <div class="z-3 position-absolute bottom-0 start-50 translate-middle-x pe-none arrow">
                    <img src="{% static "/pole_chudes/arrow.png" %}" alt="arrow">
                </div>
                <div class="btn z-3 position-absolute bottom-0 end-0 mute">
                    <img src="{% static "/svg/volume-off.svg" %}" alt="mute" onclick="mute(this)" class="svg">
                </div>
                <img src="{% static "/pole_chudes/wheel.png" %}?v1.2" alt="wheel" class="z-2"
                     onclick="rotateWheel(true)" id="wheel">
            </div>

        </div>

        <div class="row">
            <div id="question" class="col-auto mx-auto text-center">
                {{ riddle.question }}
            </div>
        </div>

        <div class="col-12 collapse multi-collapse" id="inputForm">
            <form method="GET" action="{% url 'pole_chudes_lobby' %}" id="sendFullWordForm">
                {% csrf_token %}
                <div class="input-group my-3">
                    <input type="text" name="full_word" class="form-control active" autofocus
                           placeholder="Введите слово"
                           aria-label="Введите слово" aria-describedby="input_btn" minlength="{{ word_mask|length }}"
                           maxlength="{{ word_mask|length }}" id="full_word"
                           pattern="[а-яёА-ЯЁ]+" title="Пожалуйста, введите только русские буквы" required>
                    <button class="btn btn-primary btn-lg" type="submit" id="input_btn" {{ input_btn }} >Проверить
                    </button>
                </div>
            </form>
        </div>
        <div class="row d-flex mt-2 mx-auto" id="keyboard_toggle">
            <div id="id_input_type" class="btn-group" role="group">
                <input type="radio" class=" btn-check" autocomplete="off" name="input_type" id="input_type_letter"
                       value="letter" checked="checked">
                <label class="btn btn-outline-primary col-6 py-1 " for="input_type_letter"
                       onclick="showKeyboard(true)">Назвать букву</label>
                <input type="radio" class=" btn-check" autocomplete="off" name="input_type" id="input_type_word"
                       value="word">
                <label class="btn btn-outline-primary col-6 py-1" for="input_type_word"
                       onclick="showKeyboard(false)">Назвать слово</label>
            </div>
        </div>
        <div class="collapse show multi-collapse text-center mx-2 mx-md-auto user-select-none" id="keyboard">
        </div>
    </div>
    <script>
        const keyboard = document.getElementById('keyboard');
        const wheelSound = document.getElementById('wheelSound');
        const fullWordFInput = document.getElementById('full_word');
        const wheel = document.getElementById('wheel');
        const playersInfo = document.querySelector('.players');
        const players = {
            "bg": playersInfo.querySelectorAll('a'),
            "scores": playersInfo.querySelectorAll('.score'),
            "names": playersInfo.querySelectorAll('.player-name')
        };
        const wheelInfo = document.querySelector('.wheel-info');
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        let currentDegree = {{ wheel_angle }};
        const userId = {{ user.id }};
        const oneDeviceGame = false;
        let activePlayerUserId = 0;
        let activePlayerIndex = {{ active_player_index }};
        let waitToSpin = {{ wait_to_spin|bool_js }};
        let isSpinning = false;
        let isComplete = false;
        let isWaitingResponse = false;
        let stopDegree;
        let wordMask;
        let startX;
        let intervalRotateId;
        let stopWheelFunction;
        $('#wheel').css("transform", `rotate(${currentDegree}deg)`);

        const room_pk = "{{ pk }}";
        const request_id = "{{ request.session.session_key }}";
        const current_user = "{{ user.get_username }}";
        const current_user_is_superuser = "{{ user.is_superuser }}";
        let wsocket = new WebSocket(webSocket());

        function webSocket() {
            const protocol = window.location.protocol === "http:" ? 'ws://' : 'wss://';
            return protocol + window.location.host + '/ws/pole_chudes/'
        }

        wsocket.onopen = function () {
            sendAction("join_room");
            sendAction("retrieve");
            sendAction("subscribe_instance");
        };

        wsocket.onclose = function () {
            console.log("Соединение разорвано!")
            wsocket = new WebSocket(webSocket());
        };

        wsocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            console.log('RealTime', data)
            if ("errors" in data && data.errors.length) {
                alert(data.errors[0]);
            } else {
                switch (data.action) {
                    case "retrieve":
                        updateInfo(data.data);
                        updateActivePlayer(data.data);
                        break;
                    case "update":
                        updateInfo(data.data);
                        break;
                    case "info":
                        if (data.data.letter) {
                            showInfo(`Буква "${data.data.letter.toUpperCase()}"!`, data.data.user);
                        } else if (data.data.full_word) {
                            showInfo(data.data.full_word.toUpperCase() + "!", data.data.user);
                        } else if (data.data.rotate_wheel) {
                            rotateWheel(true, true);
                        }
                        break;
                    case "update_players":
                        updatePlayerInfo(data.data);
                        break;
                    default:
                        break;
                }
            }
        };

        function updateInfo(response) {
            isWaitingResponse = false;
            console.log(response);
            if (isSpinning) {
                wordMask = response.word_mask;
                stopDegree = response.wheel_angle;
                stopWheelFunction = function () {
                    if (response.active_player_index !== activePlayerIndex) updateActivePlayer(response);
                    openLetter(response.word_mask);
                    updatePlayerInfo(response);
                    waitToSpin = response.wait_to_spin;
                    updateCheckedLetter(response.checked_letters);
                    if (response.is_complete) win(response.comment);
                    else startBot(response);
                }
            } else {
                if (response.active_player_index === activePlayerIndex) {
                    if (wordMask === response.word_mask) {
                        showInfo(response.comment, 'Ведущий');
                    } else {
                        wordMask = response.word_mask;
                        openLetter(wordMask);
                    }
                } else {
                    updateActivePlayer(response);
                }
                updatePlayerInfo(response);
                updateCheckedLetter(response.checked_letters);
                if (response.is_complete) win(response.comment);
                else startBot(response);
                waitToSpin = response.wait_to_spin;
            }
        }

        function startBot(response) {
            if (response.players[response.active_player_index]["user"] === null && response.creator.id === userId) {
                if (response.wait_to_spin && countStars(response.word_mask) > 1) {
                    sendAction("bot_rotate_wheel");
                    {#setInterval(function () {sendAction("bot_rotate_wheel_stop");},1000);#}
                } else sendAction("bot_next_letter", response.players[response.active_player_index]["name"]);
            } else console.log("не время для бота")
        }

        function countStars(str) {
            let starCount = 0;
            for (let i = 0; i < str.length; i++) {
                if (str[i] === '*') {
                    starCount++;
                }
            }
            return starCount;
        }

        function sendAction(action, name = '') {
            const data = {
                pk: room_pk,
                action: action,
                request_id: request_id,
            };
            if (name) data['name'] = name;
            wsocket.send(
                JSON.stringify(data)
            );
        }

        function showInfo(message, sender = null) {
            if (message !== null) {
                if (sender !== null) wheelInfo.innerHTML += `${sender}: ${message} <br>`;
                else wheelInfo.innerHTML += `${message} <br>`;
                wheelInfo.classList.remove('visually-hidden');
                wheelInfo.scrollTop = wheelInfo.scrollHeight;
            }
        }

        function mute(muteButton) {
            if (wheelSound.muted) {
                wheelSound.muted = false;
                muteButton.src = "/static/svg/volume-on.svg";
            } else {
                wheelSound.muted = true;
                muteButton.src = "/static/svg/volume-off.svg";
            }
        }

        wheel.addEventListener('touchstart', function (e) {
            startX = e.touches[0].clientX;
        });
        wheel.addEventListener('touchend', function (e) {
            const endX = e.changedTouches[0].clientX;
            const deltaX = endX - startX;
            const minSwipeDistance = 50;

            if (deltaX > minSwipeDistance) {
                // Свайп вправо
                rotateWheel();
            } else if (deltaX < -minSwipeDistance) {
                // Свайп влево
                rotateWheel(true);
            }
        });

        function rotateWheel(left = false, is_bot = false, degree = -1) {
            if (waitToSpin && !isComplete && (is_bot || userId === activePlayerUserId || oneDeviceGame)) {
                wheelSound.play();
                stopDegree = degree;
                isSpinning = true;
                waitToSpin = false;
                if (!is_bot) wheelInfo.classList.add("visually-hidden");
                currentDegree = (left ? Math.ceil(currentDegree / 90) : Math.floor(currentDegree / 90)) * 90;
                let step = left ? 90 : -90;
                let countRotate = 0;
                let lastStep = step * 4;
                intervalRotateId = setInterval(function () {
                    if ((stopDegree >= 0) && (countRotate > 6)) {
                        lastStep = left ? (stopDegree - ((currentDegree % 360) + 360) % 360) : (360 - stopDegree - (360 - (currentDegree % 360)) % 360);
                        if (lastStep < 91) {
                            clearInterval(intervalRotateId);
                            step = left ? lastStep : (-lastStep);
                            setTimeout(function () {
                                isSpinning = false;
                                wheelSound.pause();
                                wheelSound.currentTime = 0;
                                stopWheelFunction();
                            }, 3000);
                        }
                    }
                    currentDegree += step;
                    $("#wheel").css("transform", `rotate(${currentDegree}deg)`);
                    countRotate++;
                }, 500);
                {#sendMessage({"rotate_wheel": "rotate"})#}
                if (!is_bot) sendAction("rotate_wheel");
            } else {
                if (!waitToSpin) showInfo("Барабан уже крутили");
                if (userId !== activePlayerUserId) showInfo("Очередь другого игрока");
            }
        }


        function sendLetter(letter) {
            wsocket.send(JSON.stringify({
                pk: room_pk,
                letter: letter,
                action: "check_letter",
                request_id: request_id,
            }));
        }

        function sendFullWord(full_word) {
            wsocket.send(JSON.stringify({
                pk: room_pk,
                full_word: full_word,
                action: "check_full_word",
                request_id: request_id,
            }));
        }

        function sendRenamePlayer(name, player_id) {
            wsocket.send(JSON.stringify({
                pk: room_pk,
                name: name,
                player_id: player_id,
                action: "rename_player",
                request_id: request_id,
            }));
        }


        function createNewKeyboard() {
            keyboard.innerHTML = createNewLineKeys('Й', 'Ц', 'У', 'К', 'Е', 'Н', 'Г', 'Ш', 'Щ', 'З', 'Х', 'Ъ') +
                createNewLineKeys('Ф', 'Ы', 'В', 'А', 'П', 'Р', 'О', 'Л', 'Д', 'Ж', 'Э') +
                createNewLineKeys('Я', 'Ч', 'С', 'М', 'И', 'Т', 'Ь', 'Б', 'Ю');
            keyboard.querySelectorAll('.border').forEach(function (key) {
                key.addEventListener("click", function () {
                    if (!waitToSpin) {
                        if (!isWaitingResponse) {
                            if (!isSpinning) {
                                {#sendMessage({'checked_letter': this.innerText})#}
                                sendLetter(this.innerText)
                                isWaitingResponse = true;
                                this.classList.add("bg-danger");
                            } else {
                                showInfo("Дождитесь остановки барабана!")
                            }
                        } else {
                            showInfo("Дождитесь ответа ведущего!");
                        }
                    } else {
                        showInfo("Крутите барабан!", 'Ведущий');
                    }

                });
            });

            function createNewLineKeys(...keys) {
                let linesCode = `<div class="row justify-content-center my-2">`;
                keys.forEach(function (key) {
                    linesCode += `<div class="btn btn-outline-secondary col-1 border" id="` + key + `">` + key + `</div>`;
                });
                return linesCode + `</div>`;
            }
        }

        function win(comment) {
            setTimeout(function () {
                alert(comment);
            }, 1500);
            setTimeout(function () {
                window.location.href = '../../';
            }, 2000);
        }

        function updateActivePlayer(response) {
            players.bg[activePlayerIndex].classList.remove("border-warning");
            activePlayerIndex = response.active_player_index;
            if (response.players[activePlayerIndex]["user"] === null) activePlayerUserId = 0;
            else {
                activePlayerUserId = response.players[activePlayerIndex]["user"]["id"];
            }
            players.bg[activePlayerIndex].classList.add("border-warning");
            showInfo(response.comment, "Ведущий");
        }

        function updateCheckedLetter(letters) {
            for (let i = 0; i < letters.length; i++) {
                const letter = letters.charAt(i);
                const element = document.getElementById(letter);
                if (element) {
                    element.classList.add("bg-danger");
                }
            }
        }

        function updatePlayerInfo(response) {
            for (let i = 0; i < 3; i++) {
                players.scores[i].innerHTML = response.players[i]["score"];
                players.names[i].innerHTML = response.players[i]["name"];
                if (response.players[i]['in_game']) players.bg[i].classList.remove('bg-black', 'text-dark');
                else players.bg[i].classList.add('bg-black', 'text-dark');
            }
        }

        function openLetter(word_mask) {
            let wordbordHTML = '';
            for (let i = 0; i < word_mask.length; i++) {
                if (word_mask[i] === '*') {
                    wordbordHTML += `<div class="hide-letter border border-white"></div>`;
                } else {
                    wordbordHTML += `<div class="letter border border-black"> <span class="mx-auto">` + word_mask[i] + `</span></div>`;
                }
            }

            $('#wordbord').html(wordbordHTML);
        }

        document.getElementById("sendFullWordForm").addEventListener("submit", function (event) {
            event.preventDefault();
            if (!isSpinning) {
                if (!isWaitingResponse) {
                    isWaitingResponse = true;
                    {#sendMessage({'full_word': fullWordFInput.value.toUpperCase()})#}
                    sendFullWord(fullWordFInput.value.toUpperCase())
                    fullWordFInput.value = '';
                } else {
                    showInfo("Дождитесь ответа ведущего!")
                }
            } else {
                showInfo("Дождитесь остановки барабана!")
            }
        });

        function showKeyboard(is_show) {
            const keyboard_toggle = document.getElementById('keyboard_toggle');
            const keyboard = new bootstrap.Collapse('#keyboard', {
                parent: keyboard_toggle,
                toggle: false
            });
            const inputForm = new bootstrap.Collapse('#inputForm', {
                parent: keyboard_toggle,
                toggle: false
            });
            if (is_show) {
                keyboard.show();
                inputForm.hide();
            } else {
                keyboard.hide();
                inputForm.show();
            }
        }

        function renamePlayer(btn, player_id) {
            const name = btn.previousElementSibling.value.trim();
            const re = /[а-яёА-ЯЁA-Za-z\d\s_]+/
            if (name.length) {
                if (name.length < 20) {
                    if (re.test(name)) sendRenamePlayer(name, player_id);
                    else alert("Спецсимволы в имени игрока запрещены!")
                } else alert("Имя слишком длинное!");
            } else alert("Введите имя!");
        }

        createNewKeyboard();

    </script>


{% endblock %}


