{% extends 'home/header.html' %}
{% load bool %}
{% load static %}
{% load group_check %}

{% block inhead %}
    <style>

        .none {
            display: none;
        }

        body {
            padding: 0;
        }

        .custom-tooltip {
            --bs-tooltip-bg: var(--bs-primary);
        }

        .custom-popover {
            --bs-popover-max-width: 200px;
            --bs-popover-border-color: var(--bs-primary);
            --bs-popover-header-bg: var(--bs-primary);
            --bs-popover-header-color: var(--bs-white);
            --bs-popover-body-padding-x: 1rem;
            --bs-popover-body-padding-y: .5rem;
        }

        .hide-letter, .letter {
            align-items: center;
            vertical-align: center;
            justify-content: center;
        }

        .hide-letter {
            background: linear-gradient(45deg, #000000, #3f3f3f);
        }

        .letter {
            background: linear-gradient(45deg, #bbbbbb, #ffffff);
            position: relative;
            font: 42px Arial bold normal;
            font-weight: 900;
            color: black;
            text-align: center;
            text-transform: uppercase;
        }

        .letter span {
            position: absolute;
            top: 50%;
            left: 50%;
            margin: 0 -50% 0 0;
            transform: translate(-50%, -50%)
        }

        @media (min-width: 992px) {
            .hide-letter, .letter {
                width: 60px;
                height: 60px;
                margin: 4px;
            }
        }

        @media (max-width: 991px) {
            .hide-letter, .letter {
                width: 50px;
                height: 50px;
                margin: 2px;
            }
        }

        #keyboard, #keyboard_toggle {
            max-width: 600px;

        }

        #keyboard .border {
            align-items: center;
            justify-content: center;
            padding: 1px !important;
        }

        .baraban {
            margin: 0 auto;
            float: left;
            width: 566px;
            height: 303px;
            overflow: hidden;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            cursor: default;
            align-items: center;
            justify-content: center;
        }

        #baraban {
            position: relative;
            top: -283px;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            transition: transform 3s ease-out;
        }

        .border-warning {
            box-shadow: 0 0 10px 5px rgba(255, 100, 0, 0.5),
            0 0 10px 5px rgba(255, 255, 0, 0.3),
            0 0 10px 5px rgba(0, 255, 0, 0.2) !important;
        }

        .pole-chudes-logo img {
            width: 140px;
            height: 60px;
        }

        @media (max-width: 568px) {
            .baraban {
                width: 100%;
                height: 50vw;
            }

            #baraban {
                top: -55vw;
                width: 100%;
            }

            .baraban .arrow img {
                width: 33px;
                height: 33px;
            }
        }
    </style>
{% endblock %}


{% block title %}
    Игра Поле Чудес
{% endblock %}

{% block body_block %}
    <audio id="wheelSound" src="{% static "/pole_chudes/wheel_sound.mp3" %}" muted="muted"></audio>
    <div class="container-xl" id="game-field">

        <div class="row text-center">
            <div class="col text-center pole-chudes-logo">
                <a href="?start_new_game=new">
                    <img src="{% static "/pole_chudes/logo.png" %}" alt="Поле чудес" class="object-fit-contain">
                </a>
            </div>
            {#        <div class="col-xl-5 mb-4">#}
            {#            <form method="GET" action="{% url 'guess_the_word_game' %}">#}
            {#                {% csrf_token %}#}
            {#                <div class="input-group justify-content-md-end">#}
            {#                    <button class="btn btn-primary btn-lg" type="submit">Новая игра</button>#}
            {#                </div>#}
            {#            </form>#}
            {#        </div>#}
        </div>
        <div class="row attempt">
            <div class="col pb-2">
                <a class="btn btn-primary d-flex text-center  border" type="button">
                    <div class="col-auto">Игрок1:&nbsp;</div>
                    <em id="score0" class="score">0</em>
                </a>
            </div>
            <div class="col pb-2">
                <a class="btn btn-success d-flex text-center  border " type="button">
                    <div class="col-auto">Игрок2:&nbsp;</div>
                    <em id="score1" class="score">0</em>
                </a>
            </div>
            <div class="col pb-2">
                <a class="btn btn-danger d-flex text-center  border " type="button">
                    <div class="col-auto">Игрок3:&nbsp;</div>
                    <em id="score2" class="score">0</em>
                </a>
            </div>
            {#        <div class="col-lg pb-2">#}
            {#            <a class="btn btn-outline-success d-flex text-center" href="{% url 'guess_the_word_game_results' %}"#}
            {#               role="button">#}
            {#                Таблица рекордов#}
            {#            </a>#}
            {#        </div>#}
            {#        <div class="col-lg pb-2">#}
            {#            <a class="btn btn-outline-primary d-flex text-center" id="rules_btn" href="#rules" data-bs-toggle="collapse"#}
            {#               role="button" aria-expanded="true" aria-controls="collapseExample">#}
            {#                Напомнить правила#}
            {#            </a>#}
            {#        </div>#}
        </div>
        <div class="collapse pb-2" id="rules">
            <div class="card card-body">
                <b>
                    <span> Вам нужно отгадать загаданное слово.<br>
                   Вращайте барабан и называйте букву, либо отгадайте слово целиком, чтобы победить.<br>
                        Если буква названа неверно ход переходит к следующему игроку.<br>
                        Если слово названо неверно вы проигрываете.<br>
                    </span>
                </b>
            </div>
        </div>
        <div class="row">
            <h2 id="wordbord" class="row justify-content-center my-2 mx-auto">
                {% for letter in word_mask %}
                        {% if letter == '*' %}
                            <div class="hide-letter border border-white"></div>
                        {% else %}
                            <div class="letter border border-black"><span class="mx-auto">{{ letter }}</span></div>
                        {% endif %}
                    {% endfor %}
            </h2>
        </div>

        <div class="row">
            <div class="baraban mx-auto px-0 position-relative">
                <div class="baraban-info rounded-2 p-2 z-3 position-absolute top-0 start-50 translate-middle-x
                text-warning bg-dark pe-none bg-opacity-75 text-center"
                     tabindex="-1" aria-disabled="true"> нажмите для вращения
                </div>
                <div class="z-3 position-absolute bottom-0 start-50 translate-middle-x pe-none arrow">
                    <img src="{% static "/pole_chudes/arrow.png" %}" alt="">
                </div>
                <div class="btn z-3 position-absolute bottom-0 end-0 mute">
                    <img src="{% static "/svg/volume-off.svg" %}" alt="mute" onclick="mute(this)" class="svg">
                </div>
                <img src="{% static "/pole_chudes/baraban.png" %}" alt="" class="z-2"
                     onclick="rotateWheel()" id="baraban">
            </div>

        </div>

        <script>
            const wheelSound = document.getElementById('wheelSound');
            const scores = document.querySelectorAll('.score');
            const barabanInfo = document.querySelector('.baraban-info');
            let currentDegree = {{ wheel_angle }};
            let activePlayer = {{ active_player_index }};
            scores[activePlayer].parentElement.classList.add("border-warning");
            let waitToSpin = {{ wait_to_spin|bool_js }};
            let isSpinning = false;
            let isComplete = false;
            let stopDegree;
            let wordMask;
            $('#baraban').css("transform", `rotate(${currentDegree}deg)`);
            let intervalRotateId;

            function mute(muteButton) {
                if (wheelSound.muted) {
                    wheelSound.muted = false;
                    muteButton.src = "/static/svg/volume-on.svg";
                } else {
                    wheelSound.muted = true;
                    muteButton.src = "/static/svg/volume-off.svg";
                }
            }

            function rotateWheel() {
                if (waitToSpin && !isComplete) {
                    wheelSound.play();
                    stopDegree = -1;
                    isSpinning = true;
                    waitToSpin = false;
                    barabanInfo.classList.add("visually-hidden");
                    currentDegree = Math.floor(currentDegree / 90) * 90;
                    let countRotate = 0;
                    intervalRotateId = setInterval(function () {
                        if ((stopDegree >= 0) && (countRotate > 3) && (stopDegree - currentDegree % 360 < 91)) {
                            clearInterval(intervalRotateId);
                            currentDegree = currentDegree - currentDegree % 360 + stopDegree;
                            setTimeout(function () {
                                isSpinning = false;
                                openLetter(wordMask);
                                wheelSound.pause();
                                wheelSound.currentTime = 0;
                            }, 3000);
                        } else currentDegree += 90;
                        $("#baraban").css("transform", `rotate(${currentDegree}deg)`);
                        countRotate++;
                    }, 500);
                    sendMessage({"rotate_wheel": "rotate"})
                } else {
                    if (isComplete) {
                        location.reload();
                    } else {
                        alert("Барабан уже крутили");
                    }
                }
            }

        </script>

        <div class="row">
            <div id="question" class="col-auto mx-auto text-center">
                {{ riddle.question }}
            </div>
        </div>

        <div class="col-12 collapse multi-collapse" id="inputForm">
            <form method="GET" action="{% url 'pole_chudes_lobby' %}" id="sendFullWordForm">
                {% csrf_token %}
                <div class="input-group my-3">
                    <input type="text" name="full_word" class="form-control active" autofocus
                           placeholder="Введите слово"
                           aria-label="Введите слово" aria-describedby="input_btn" minlength="{{ word_mask|length }}"
                           maxlength="{{ word_mask|length }}" id="full_word"
                           pattern="[а-яёА-ЯЁ]+" title="Пожалуйста, введите только русские буквы" required>
                    <button class="btn btn-primary btn-lg" type="submit" id="input_btn" {{ input_btn }} >Проверить
                    </button>
                </div>
            </form>
        </div>
        <div class="row d-flex mt-2 mx-auto" id="keyboard_toggle">
            <div id="id_input_type" class="btn-group" role="group">
                <input type="radio" class=" btn-check" autocomplete="off" name="input_type" id="input_type_letter"
                       value="letter" checked="checked">
                <label class="btn btn-outline-primary col-6 py-1 " for="input_type_letter"
                       onclick="showKeyboard(true)">Назвать букву</label>
                <input type="radio" class=" btn-check" autocomplete="off" name="input_type" id="input_type_word"
                       value="word">
                <label class="btn btn-outline-primary col-6 py-1" for="input_type_word"
                       onclick="showKeyboard(false)">Назвать слово</label>
            </div>
        </div>


        <div class="collapse show multi-collapse text-center mx-2 mx-md-auto user-select-none" id="keyboard">
        </div>
        <script>
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

            function createNewKeyboard() {
                const keyboard = document.getElementById('keyboard');
                keyboard.innerHTML = createNewLineKeys('Й', 'Ц', 'У', 'К', 'Е', 'Н', 'Г', 'Ш', 'Щ', 'З', 'Х', 'Ъ') +
                    createNewLineKeys('Ф', 'Ы', 'В', 'А', 'П', 'Р', 'О', 'Л', 'Д', 'Ж', 'Э') +
                    createNewLineKeys('Я', 'Ч', 'С', 'М', 'И', 'Т', 'Ь', 'Б', 'Ю');
                keyboard.querySelectorAll('.border').forEach(function (key) {
                    key.addEventListener("click", function () {
                        if (!waitToSpin) {
                            if (!isSpinning) {
                                sendMessage({'checked_letter': this.innerText})
                                this.classList.add("bg-danger");
                            } else {
                                alert("Дождитесь остановки барабана!")
                            }
                        } else {
                            barabanInfo.classList.remove('visually-hidden')
                            alert("Крутите барабан!");
                        }

                    });
                });

                function createNewLineKeys(...keys) {
                    let linesCode = `<div class="row justify-content-center my-2">`;
                    keys.forEach(function (key) {
                        linesCode += `<div class="btn btn-outline-secondary col-1 border" id="` + key + `">` + key + `</div>`;
                    });
                    return linesCode + `</div>`;
                }
            }

            function sendMessage(data) {
                $.ajax({
                    url: window.location.href,
                    type: 'GET',
                    headers: {'X-CSRFToken': csrftoken},
                    data: data,
                    success: function (response) {
                        console.log(response)
                        if (isSpinning) {
                            wordMask = response.word_mask;
                            stopDegree = response.wheel_angle;
                        }
                        for (let i = 0; i < 3; i++) {
                            scores[i].innerHTML = response.players[i]["score"];
                            if (!response.players[i]['in_game']) scores[i].parentElement.classList.add('bg-black');
                        }
                        if (response.active_player_index === activePlayer) {
                            if (!isSpinning) {
                                if (wordMask === response.word_mask) {
                                    alert(response.comment);
                                } else {
                                    wordMask = response.word_mask;
                                    openLetter(wordMask);
                                }
                            }
                        } else {
                            function updateScore() {
                                scores[activePlayer].parentElement.classList.remove("border-warning");
                                activePlayer = response.active_player_index;
                                scores[activePlayer].parentElement.classList.add("border-warning");
                                alert(response.comment);
                            }

                            if (isSpinning) {
                                const intervalId = setInterval(function () {
                                    if (!isSpinning) {
                                        updateScore();
                                        clearInterval(intervalId);
                                    }
                                }, 500);
                            } else updateScore();
                        }
                        if (response.is_complete) {
                            openLetter(response.word_mask);
                            alert(response.comment);
                            setTimeout(function () {
                                window.location.href = '../../';
                            }, isSpinning ? 4000 : 2000);
                        }
                        waitToSpin = response.wait_to_spin;
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }

            function openLetter(word_mask) {
                let wordbordHTML = '';
                for (let i = 0; i < word_mask.length; i++) {
                    if (word_mask[i] === '*') {
                        wordbordHTML += `<div class="hide-letter border border-white"></div>`;
                    } else {
                        wordbordHTML += `<div class="letter border border-black"> <span class="mx-auto">` + word_mask[i] + `</span></div>`;
                    }
                }

                $('#wordbord').html(wordbordHTML);
            }

            document.getElementById("sendFullWordForm").addEventListener("submit", function (event) {
                event.preventDefault();
                if (!isSpinning) {
                    sendMessage({'full_word': $('#full_word').val().toUpperCase()})
                } else {
                    alert("Дождитесь остановки барабана!")
                }
            });

            function showKeyboard(is_show) {
                const keyboard_toggle = document.getElementById('keyboard_toggle');
                const keyboard = new bootstrap.Collapse('#keyboard', {
                    parent: keyboard_toggle,
                    toggle: false
                });
                const inputForm = new bootstrap.Collapse('#inputForm', {
                    parent: keyboard_toggle,
                    toggle: false
                });
                if (is_show) {
                    keyboard.show();
                    inputForm.hide();
                } else {
                    keyboard.hide();
                    inputForm.show();
                }
            }

            createNewKeyboard();

        </script>
    </div>

{% endblock %}


