{% extends 'home/header.html' %}
{% load static %}
{% load hide_email %}
{% block inhead %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {#    <link rel="stylesheet"#}
    {#          href="https://cdnjs.cloudflare.com/ajax/libs/imgareaselect/0.9.10/css/imgareaselect-animated.css"#}
    {#          integrity="sha512-VOWGVItJ5anAaHwRzNFPo8YGbAGDl34AkUq0/Dkn4UJxK0ag95IZQWoitH6xM7Bq6C3i2VW5oFzkL1+wYkLdmQ=="#}
    {#          crossorigin="anonymous" referrerpolicy="no-referrer"/>#}
    {#    <script type="text/javascript"#}
    {#            src="{% static '/js/crop/jquery.imgareaselect.pack.js' %}"></script>#}

    <link rel="stylesheet" href="https://unpkg.com/cropperjs/dist/cropper.min.css">
    <script src="https://unpkg.com/cropperjs/dist/cropper.min.js"></script>
    <style>
        @media (min-width: 768px) {
            .left-part {
                text-align: right;
                width: 150px;
                float: left;
                font-size: 14px;
                padding-right: 10px;
                padding-top: 10px;
            }

            .right-part {
                width: 350px;
                float: left;
            }
        }

        .hide {
            display: none;
        }


        .btn.btn-edit {
            position: relative;
            min-width: 38px;
            min-height: 38px;
        }

        .btn.btn-edit::after {
            content: "";
            position: absolute;
            margin: 5px;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
        {#filter: invert(100%);#} background-image: url('/static/svg/edit.svg');
            background-repeat: no-repeat;
            background-size: 70%;
        }

        .btn.btn-delete {
            position: relative;
            min-width: 38px;
            min-height: 38px;
        }

        .btn.btn-delete::after {
            content: "";
            position: absolute;
            margin: 5px;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
        {#filter: invert(100%);#} background-image: url('/static/svg/trash-2.svg');
            background-repeat: no-repeat;
            background-size: 70%;
        }


        @media (max-width: 767px) {
            #image-crop {
                max-width: calc(100vw - 24px);
            }
        }

        @media (min-width: 768px) {
            #image-crop {
                max-width: 500px;
            }
        }

        .avatar {
            height: 220px;
            width: 220px;
        }

        .btn-opacity {
            opacity: 50%;
        }

    </style>
{% endblock %}

{% block title %}
    Личный кабинет
{% endblock %}

{% block body_block %}


    <div class="container">
        <h1 class="text-center">Личный кабинет</h1>
        <div class="row">
            <div class="col col-md-3 offset-md-1">
                <div class="user-block">
                    <div id="avatar-box" class="mx-auto avatar position-relative">
                        <img src="
                                {% if profile.avatar %}{{ profile.avatar.url }}{% else %}{% static 'default_avatar.png' %}{% endif %}"
                             class="avatar object-fit-scale border rounded" alt="avatar" id="avatar">
                        <div class="btn btn-edit btn-light position-absolute bottom-0 end-0 m-2 btn-opacity"
                             onclick="imageUpload.click()"></div>
                        <div class="btn btn-delete btn-light position-absolute top-0 end-0 m-2 btn-opacity"
                             onclick="deleteAvatar()"></div>
                    </div>
                    <hr>
                    <div class="photo-settings-block">
                        <div class="text-block">Формат загружаемого файла: JPEG или PNG</div>
                        <br>
                        <form method="post" enctype="multipart/form-data" id="avatar-form">
                            {% csrf_token %}
                            <input type="file" class="form-control visually-hidden" id="avatar_file_upload"
                                   aria-label="Upload" accept="image/*">
                        </form>
                        <button type="button" onclick="sendAvatar()"
                                class="btn btn-primary col-10 mx-auto visually-hidden" id="btn-load1">Загрузить
                            <span class="spinner-border spinner-border-sm visually-hidden" role="status"
                                  aria-hidden="true" id="spiner"></span>
                        </button>

                    </div>
                </div>
            </div>

            <div class="col col-md-auto mt-2">
                <div class="settings-pane vstack gap-2 position-relative">
                    <div id="image-preview" class="visually-hidden">
                        <img class="object-fit-contain border rounded" id="image-crop" alt="crop_avatar">
                    </div>
                    <button type="button" onclick="sendAvatar()" class="col btn btn-primary mt-2 visually-hidden"
                            id="btn-load2">
                        Загрузить
                        <span class="spinner-border spinner-border-sm visually-hidden" role="status"
                              aria-hidden="true" id="spiner2"></span>
                    </button>
                    <div class="row mail_sett">
                        <div class="left-part">E-mail:</div>
                        <div class="right-part">
                            <div class="input-group mb-3">
                                <span class="input-group-text">@</span>
                                <input type="text" class="form-control" placeholder="email"
                                       value="{{ user.email|hide_email }}" disabled="disabled"
                                       aria-label="Recipient's username" aria-describedby="email">
                                <button class="btn btn-secondary btn-edit" type="button"
                                        onclick="changeEmail()"></button>
                            </div>
                        </div>
                    </div>
                    <div class="hor-spacer mail_sett"></div>
                    <div class="row mail_change visually-hidden">
                        <div class="left-part">Новый адрес:</div>
                        <div class="right-part">
                            <input class="form-control edit-link" type="text" name="new_mail" placeholder="" value=""><a
                                href="javascript:{}" onclick="changeEmail()">Отмена</a>
                        </div>
                    </div>
                    <div class="hor-spacer mail_change visually-hidden"></div>
                    <div class="row mail_change by_mail visually-hidden">
                        <div class="left-part">Старый адрес:</div>
                        <div class="right-part">
                            <input class="form-control edit-link" type="text" name="cur_mail" value="">
                            <a href="javascript:{}"
                               onclick="$('div.mail_change.by_mail').toggle();$('div.mail_change.by_pass').toggle();">Не
                                помню</a>
                        </div>
                    </div>
                    <div class="hor-spacer mail_change by_mail  visually-hidden"></div>
                    <div class="row mail_change by_pass visually-hidden">
                        <div class="left-part">Введите пароль:</div>
                        <div class="right-part">
                            <input class="form-control" type="password" name="cur_pass" value="">
                        </div>
                    </div>
                    <div class="hor-spacer mail_change by_pass visually-hidden"></div>
                    <div class="row pass_sett">
                        <div class="left-part">Пароль:</div>
                        <div class="right-part">
                            <div class="input-group mb-3">
                                <span class="input-group-text">#</span>
                                <input type="text" class="form-control inactive" placeholder="******"
                                       value="" disabled="disabled"
                                       aria-label="Recipient's username" aria-describedby="email">
                                <button class="btn btn-secondary btn-edit" type="button"
                                        onclick="changePassword()"></button>
                            </div>
                        </div>
                    </div>
                    <div class="hor-spacer pass_sett"></div>
                    <div class="row pass_change visually-hidden">
                        <div class="left-part">Новый пароль:</div>
                        <div class="right-part"><input class="form-control edit-link" type="password" name="new_pass"
                                                       value="">
                            <a href="javascript:{}" onclick="changePassword()">Отмена</a></div>
                    </div>
                    <div class="hor-spacer pass_change visually-hidden"></div>
                    <div class="row pass_change visually-hidden">
                        <div class="left-part">Повтор пароля:</div>
                        <div class="right-part"><input class="form-control" type="password" name="new_pass_check"
                                                       value=""></div>
                    </div>
                    <div class="hor-spacer pass_change visually-hidden"></div>
                    <div class="row pass_change visually-hidden">
                        <div class="left-part">Старый пароль:</div>
                        <div class="right-part"><input class="form-control edit-link" type="password" name="old_pass"
                                                       value="">
                            <a href="javascript:{}" onclick="goTo('/reminder')">Забыл?</a></div>
                    </div>
                    <div class="row pass_change visually-hidden">
                        <div class="left-part"></div>
                        <div class="right-part">
                            <div class="checkbox-box">
                                <br>
                                <input class="form-control" type="checkbox" id="global_logout" name="global_logout"
                                       value="1">
                                <label for="global_logout">Разлогинить на других устройствах</label>
                            </div>
                        </div>
                    </div>
                    <div class="hor-spacer pass_change visually-hidden"></div>
                    <div class="row">
                        <div class="left-part">Имя:</div>
                        <div class="right-part"><input class="form-control" type="text" name="first_name"
                                                       value="{{ user.first_name }}"></div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="left-part">Фамилия:</div>
                        <div class="right-part"><input class="form-control" type="text" name="last_name"
                                                       value="{{ user.last_name }}"></div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="left-part">Никнейм:</div>
                        <div class="right-part"><input class="form-control inactive" type="text" name="username"
                                                       disabled="disabled" value="{{ user.get_username }}"></div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="left-part">Дата рождения:</div>
                        <div class="right-part">
                            <script type="text/javascript">
                                const lf_config = {
                                    "months": [
                                        "январь",
                                        "февраль",
                                        "март",
                                        "апрель",
                                        "май",
                                        "июнь",
                                        "июль",
                                        "август",
                                        "сентябрь",
                                        "октябрь",
                                        "ноябрь",
                                        "декабрь"
                                    ],
                                    "pm_block_user": {
                                        "title": "Вы уверены, что хотите заблокировать этого пользователя?",
                                        "message": "",
                                        "button1": {
                                            "title": "Да"
                                        },
                                        "button2": {
                                            "title": "Нет"
                                        }
                                    },
                                    "pm_unblock_user": {
                                        "title": "Вы уверены, что хотите разблокировать этого пользователя?",
                                        "message": "",
                                        "button1": {
                                            "title": "Да"
                                        },
                                        "button2": {
                                            "title": "Нет"
                                        }
                                    },
                                    "pm_delete_dialog": {
                                        "title": "Вы уверены, что хотите удалить всю переписку с этим пользователем?",
                                        "message": "Восстановление невозможно!",
                                        "button1": {
                                            "title": "Да"
                                        },
                                        "button2": {
                                            "title": "Нет"
                                        }
                                    },
                                    "pm": {
                                        "session": "Ошибка сессии. Перегрузите страницу и попробуйте заново.",
                                        "uid": "Ошибочный ID пользователя",
                                        "class": "Нельзя заблокировать пользователя этого класса",
                                        "too_short": "Сообщение слишком короткое",
                                        "guest": "E-mail пользователя не подтвержден. Сожалеем, но ему нельзя написать."
                                    },
                                    "user": {
                                        "default": "Возникла какая-то ошибка",
                                        "avatar_upload_4": "Неверный формат изображения",
                                        "avatar_upload_3": "Изображения слишком маленькое",
                                        "avatar_upload_2": "Ошибка загрузки изображения",
                                        "avatar_upload_1": "Только для залогиненных пользователей",
                                        "user_error": "Пользователь не найден. Возможно устарела сессия",
                                        "settings_password": "Пароль некорректен",
                                        "duplicate_mail": "Пользователь с таким E-mail уже зарегистрирован",
                                        "duplicate_username": "Пользователь с таким Никнеймом уже зарегистрирован",
                                        "mail_error": "Старый e-mail адрес введен неверно. E-mail не изменен",
                                        "mail_incorrect": "Новый e-mail адрес введен несколько некорректно.",
                                        "pass_error2": "Текущий пароль введен неверно. E-mail не изменен.",
                                        "pass_error": "Текущий пароль неверен. Пароль не изменен",
                                        "bdate_error": "Дата рождения указана неверно",
                                        "mail_change": "Повторный запрос. Завершите или отмените предыдущий",
                                        "resend_error": "Письмо было выслано недавно. Подождите немного.",
                                        "resend_code_activated": "Код использован. Профиль должен быть активен.",
                                        "resend_time": "Письмо уже отправлено, попробуйте через час.",
                                        "profile_enabled": "Не нужно ничего делать. Профиль уже активен.",
                                        "fname_too_long": "Длина имени не должна превышать 16 знаков",
                                        "lname_too_long": "Длина фамилии не должна превышать 24 знака",
                                        "forbidden_char": "Недопустимый символ в имени или фамилии",
                                        "login_error": "E-mail или пароль указан неверно",
                                        "captcha_error": "Код с картинки указан неверно"
                                    },
                                    "monthNames": [
                                        "Январь",
                                        "Февраль",
                                        "Март",
                                        "Апрель",
                                        "Май",
                                        "Июнь",
                                        "Июль",
                                        "Август",
                                        "Сентябрь",
                                        "Октябрь",
                                        "Ноябрь",
                                        "Декабрь"
                                    ],
                                    "monthNames2": [
                                        "января",
                                        "февраля",
                                        "марта",
                                        "апреля",
                                        "мая",
                                        "июня",
                                        "июля",
                                        "августа",
                                        "сентября",
                                        "октября",
                                        "ноября",
                                        "декабря"
                                    ],
                                    "monthNamesShort": [
                                        "Янв",
                                        "Фев",
                                        "Мар",
                                        "Апр",
                                        "Май",
                                        "Июн",
                                        "Июл",
                                        "Авг",
                                        "Сен",
                                        "Окт",
                                        "Ноя",
                                        "Дек"
                                    ],
                                    "dayNames": [
                                        "воскресенье",
                                        "понедельник",
                                        "вторник",
                                        "среда",
                                        "четверг",
                                        "пятница",
                                        "суббота"
                                    ],
                                    "dayNamesShort": [
                                        "Вс",
                                        "Пн",
                                        "Вт",
                                        "Ср",
                                        "Чт",
                                        "Пт",
                                        "Сб"
                                    ]
                                }
                                let s_bday = 11;
                                let tmpl = '<select class="form-select d-inline " name="bday" rel="nosearch" style="width:fit-content;">';
                                tmpl += '<option value="0"> -- </option>';
                                for (let i = 1; i <= 31; ++i) {
                                    tmpl += '<option value="' + i + '"' + (i === s_bday ? 'selected="selected"' : '') + '>' + i + '</option>';
                                }
                                tmpl += '</select>';
                                document.write(tmpl);
                            </script>
                            <script type="text/javascript">
                                let s_bmonth = 1;
                                tmpl = '<select class="form-select  d-inline" name="bmonth" rel="nosearch"  style="width:fit-content;">';
                                tmpl += '<option value="0"> -- </option>';
                                let t_month;
                                for (let i = 1; i <= 12; ++i) {
                                    t_month = lf_config.months[i - 1];
                                    t_month = t_month[0].toUpperCase() + t_month.slice(1);
                                    tmpl += '<option value="' + i + '"' + (i === s_bmonth ? 'selected="selected"' : '') + '>' + t_month + '</option>';
                                }
                                tmpl += '</select>';
                                document.write(tmpl);
                            </script>
                            <script type="text/javascript">
                                let s_byear = 1992;
                                tmpl = '<select class="form-select  d-inline" name="byear" rel="nosearch" style="width:fit-content;">';
                                tmpl += '<option value="0"> -- </option>';
                                const dateObj = new Date();
                                const year = dateObj.getFullYear();
                                for (let i = year - 13; i >= year - 100; --i) {
                                    tmpl += '<option value="' + i + '"' + (i === s_byear ? 'selected="selected"' : '') + '>' + i + '</option>';
                                }
                                tmpl += '</select>';
                                document.write(tmpl);
                            </script>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="left-part">Пол:</div>
                        <div class="right-part">
                            <div class="left-block">
                                <div class="btn-group" role="group" aria-label="sex">
                                    <input type="radio" class="btn-check" name="sex" value="m" id="sex1"
                                           autocomplete="off">
                                    <label class="btn btn-outline-primary" for="sex1">Мужской</label>
                                    <input type="radio" class="btn-check" id="sex2" name="sex" value="f"
                                           autocomplete="off">
                                    <label class="btn btn-outline-primary" for="sex2">Женский</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="left-part">Страна:</div>
                        <div class="right-part">
                            {% include "registration/country-select.html" %}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="left-part">Город:</div>
                        <div class="right-part">
                            {% include 'registration/sity-select.html' %}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="left-part">Показывать:</div>
                        <div class="right-part">
                            <div class="left-block">
                                <div class="btn-group" role="group" aria-label="sex">
                                    <input type="radio" class="btn-check" name="show_name" value="fullname"
                                           id="show_fullname" autocomplete="off">
                                    <label class="btn btn-outline-primary" for="show_fullname">Имя и фамилию</label>
                                    <input type="radio" class="btn-check" name="show_name" value="nickname"
                                           id="show_nickname" autocomplete="off" checked>
                                    <label class="btn btn-outline-primary" for="show_nickname">Никнейм</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="left-part">Мой ID:</div>
                        <div class="right-part"><input class="form-control inactive" type="text" name="my_id"
                                                       disabled="disabled" value="{{ user.id }}"></div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="left-part"></div>
                        <div class="right-part">
                            <a class="btn btn-primary col-12" onclick="saveSettings()">Сохранить</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <script>
        // Получаем элементы формы и области предпросмотра
        const form = document.getElementById('avatar-form');
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        const imageUpload = document.getElementById('avatar_file_upload');
        const imagePreview = document.getElementById('image-preview');
        let cropData;

        console.log("%cDen", "border: 1px solid red; border-radius: 50%; font-size: 40px; padding: 25px; color: white; background: red; font-weight: bold")

        $(document).ready(function () {
            // Обработчик загрузки файла изображения
            imageUpload.addEventListener('change', function (event) {
                var input = $('#avatar_file_upload')[0];
                if (input.files && input.files[0]) {
                    showElByID('image-preview');
                    if (window.innerWidth > 770) showElByID('btn-load1');
                    showElByID('btn-load2');
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#image-crop').attr('src', e.target.result);
                        $('#image-crop').ready(initCroper);
                    };
                    reader.readAsDataURL(input.files[0]);
                }
            });


            function initCroper() {
                var image = document.getElementById('image-crop');
                image.scrollIntoView({behavior: "smooth"});
                var cropper = new Cropper(image, {
                    aspectRatio: 1, // Соотношение сторон для области
                    viewMode: 1,
                    dragMode: 'move', // Режим перетаскивания
                    cropBoxResizable: true, // Возможность изменения размера области
                    crop: function (event) {
                        cropData = cropper.getData();
                        console.log(cropData);
                    }
                });
            }

        });

        function sendAvatar() {
            showElByID("spiner")
            // Создаем новый Canvas элемент
            const canvas = document.createElement('canvas');
            const ctx = canvas.getContext('2d');
            const file = imageUpload.files[0];
            const reader = new FileReader();
            reader.onload = function (e) {
                const img = new Image();
                img.onload = function () {
                    // Устанавливаем размеры Canvas, соответствующие выбранной картинке
                    canvas.width = cropData.width;
                    canvas.height = cropData.height;
                    // Рисуем картинку на Canvas
                    ctx.drawImage(img, cropData.x, cropData.y, cropData.width, cropData.height, 0, 0, cropData.width, cropData.height);
                    // Получаем обрезанную картинку в формате base64
                    const croppedImageData = canvas.toDataURL('image/jpeg');
                    $.ajax({
                        url: window.location.href,
                        type: 'POST',
                        headers: {'X-CSRFToken': csrftoken},
                        data: {
                            'csrfmiddlewaretoken': csrftoken,
                            'file': croppedImageData,
                        },
                        success: function (response) {
                            console.log(response)
                            location.reload();
                        },
                        error: function (error) {
                            console.log(error);
                            alert(error.statusText)
                        }
                    });
                };
                img.src = e.target.result;
            };
            reader.readAsDataURL(file);
        }

        function deleteAvatar() {
            $.ajax({
                url: window.location.href,
                type: 'POST',
                headers: {'X-CSRFToken': csrftoken},
                data: {
                    'csrfmiddlewaretoken': csrftoken,
                    'file': null,
                },
                success: () => location.reload(),
                error: function (error) {
                    console.log(error);
                    alert(error.statusText)
                }
            });
        }

        function get_dimensions(el) {
            // Браузер с поддержкой naturalWidth/naturalHeight
            if (el.naturalWidth !== undefined) {
                return {
                    'real_width': el.naturalWidth,
                    'real_height': el.naturalHeight,
                    'client_width': el.width,
                    'client_height': el.height
                };
            }
            // Устаревший браузер
            else if (el.tagName.toLowerCase() === 'img') {
                var img = new Image();
                img.src = el.src;
                var real_w = img.width;
                var real_h = img.height;
                return {
                    'real_width': real_w,
                    'real_height': real_h,
                    'client_width': el.width,
                    'client_height': el.height
                };
            } else {
                return false;
            }
        }

        const opacityButtons = document.querySelectorAll(".btn-opacity");

        opacityButtons.forEach(function (opacityButton) {
                opacityButton.addEventListener("mouseenter", function () {
                    opacityButton.style.opacity = "1";
                });
                opacityButton.addEventListener("mouseleave", function () {
                    opacityButton.style.opacity = "0.5";
                });
            }
        )

    </script>

{% endblock %}