{% extends 'home/header.html' %}
{% load static %}
{% load hide_email %}
{% block inhead %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/imgareaselect/0.9.10/css/imgareaselect-animated.css"
          integrity="sha512-VOWGVItJ5anAaHwRzNFPo8YGbAGDl34AkUq0/Dkn4UJxK0ag95IZQWoitH6xM7Bq6C3i2VW5oFzkL1+wYkLdmQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <style>

        .left-part {
            text-align: right;
            width: 150px;
            float: left;
            font-size: 14px;
            padding-right: 10px;
            padding-top: 10px;
        }

        .hide {
            display: none;
        }

        .right-part {
            width: 350px;
            float: left;
        }

        a {
            padding-left: 10px;
        }

        @media (min-width: 768px) {
            #image-crop {
                max-width: 500px;
            }
        }

    </style>
{% endblock %}

{% block title %}
    Личный кабинет
{% endblock %}

{% block body_block %}


    <div class="container">
        <h1 class="text-center">Личный кабинет</h1>
        <div class="row">
            <div class="col col-md-3 offset-md-1">
                <div class="user-block">
                    <div class="avatar-box">
                        <div style="height:220px;width:220px;" class="mx-auto">
                            <img src="
                                    {% if profile.avatar %}{{ profile.avatar.url }}{% else %}{% static 'default_avatar.png' %}{% endif %}"
                                 class="avatar object-fit-scale border rounded" alt="avatar"
                                 style="height:220px;width:220px;">
                        </div>
                    </div>
                    <hr>
                    <div class="photo-settings-block">
                        <div class="text-block">Формат загружаемого файла: JPEG или PNG</div>
                        <br>
                        <form method="post" enctype="multipart/form-data" id="avatar-form">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="button" onclick="sendAvatar()" class="btn btn-primary">Загрузить</button>
                        </form>

                        <script type="text/javascript"
                                src="{% static '/js/crop/jquery.imgareaselect.pack.js' %}"></script>
                        {#                        <script src="/static/js/upload/jquery.ui.widget.min.js"></script>#}
                        {#                        <script src="/static/js/upload/jquery.iframe-transport.min.js"></script>#}
                        {#                        <script src="/static/js/upload/jquery.fileupload.min.js"></script>#}
                        {#                        <script src="/static/js/upload/script.min.js"></script>#}
                        {#                        <div class="photos-box hide">#}
                        {#                            <div class="big-photo-box" id="cropper"></div>#}
                        {##}
                        {#                        </div>#}
                        {#                        <div class="btn-pane">#}
                        {#                            <form id="crop_avatar">#}
                        {#                                <input type="hidden" name="crop_img" value="">#}
                        {#                                <input type="hidden" name="crop_orig" value="">#}
                        {#                                <input type="hidden" name="crop_ratio" value="">#}
                        {#                                <input type="hidden" name="crop_x1" value="">#}
                        {#                                <input type="hidden" name="crop_x2" value="">#}
                        {#                                <input type="hidden" name="crop_y1" value="">#}
                        {#                                <input type="hidden" name="crop_y2" value="">#}
                        {#                                <input type="hidden" name="crop_y2" value="">#}
                        {#                                <div class="btn btn-primary hide" id="submit_button">Сохранить</div>#}
                        {#                            </form>#}
                        {#                        </div>#}
                    </div>
                </div>
            </div>

            <div class="col col-md-auto">
                <div class="settings-pane vstack gap-2 position-relative">
                    <div id="image-preview">
                        <img class="avatar object-fit-scale border rounded visually-hidden" id="image-crop"
                             alt="crop_avatar">
                    </div>
                    <div class="row mail_sett">
                        <div class="left-part">E-mail:</div>
                        <div class="right-part">
                            <input class="form-control inactive" type="text" name="mail"
                                   placeholder="{{ user.email|hide_email }}" value="" disabled="disabled"><a
                                href="javascript:{}" class="edit-link" onclick="changeEmail()">Изменить</a>
                        </div>
                    </div>
                    <div class="hor-spacer mail_sett"></div>
                    <div class="row mail_change visually-hidden">
                        <div class="left-part">Новый адрес:</div>
                        <div class="right-part">
                            <input class="form-control edit-link" type="text" name="new_mail" placeholder="" value=""><a
                                href="javascript:{}" onclick="changeEmail()">Отмена</a>
                        </div>
                    </div>
                    <div class="hor-spacer mail_change visually-hidden"></div>
                    <div class="row mail_change by_mail visually-hidden">
                        <div class="left-part">Старый адрес:</div>
                        <div class="right-part">
                            <input class="form-control edit-link" type="text" name="cur_mail" value="">
                            <a href="javascript:{}"
                               onclick="$('div.mail_change.by_mail').toggle();$('div.mail_change.by_pass').toggle();">Не
                                помню</a>
                        </div>
                    </div>
                    <div class="hor-spacer mail_change by_mail  visually-hidden"></div>
                    <div class="row mail_change by_pass visually-hidden">
                        <div class="left-part">Введите пароль:</div>
                        <div class="right-part">
                            <input class="form-control" type="password" name="cur_pass" value="">
                        </div>
                    </div>
                    <div class="hor-spacer mail_change by_pass visually-hidden"></div>
                    <div class="row pass_sett">
                        <div class="left-part">Пароль:</div>
                        <div class="right-part"><input class="form-control inactive" type="password" name="pass"
                                                       disabled="disabled" placeholder="******" value="">
                            <a href="javascript:{}" class="edit-link" onclick="changePassword()">Изменить</a></div>
                    </div>
                    <div class="hor-spacer pass_sett"></div>
                    <div class="row pass_change visually-hidden">
                        <div class="left-part">Новый пароль:</div>
                        <div class="right-part"><input class="form-control edit-link" type="password" name="new_pass"
                                                       value="">
                            <a href="javascript:{}" onclick="changePassword()">Отмена</a></div>
                    </div>
                    <div class="hor-spacer pass_change visually-hidden"></div>
                    <div class="row pass_change visually-hidden">
                        <div class="left-part">Повтор пароля:</div>
                        <div class="right-part"><input class="form-control" type="password" name="new_pass_check"
                                                       value=""></div>
                    </div>
                    <div class="hor-spacer pass_change visually-hidden"></div>
                    <div class="row pass_change visually-hidden">
                        <div class="left-part">Старый пароль:</div>
                        <div class="right-part"><input class="form-control edit-link" type="password" name="old_pass"
                                                       value="">
                            <a href="javascript:{}" onclick="goTo('/reminder')">Забыл?</a></div>
                    </div>
                    <div class="row pass_change visually-hidden">
                        <div class="left-part"></div>
                        <div class="right-part">
                            <div class="checkbox-box">
                                <br>
                                <input class="form-control" type="checkbox" id="global_logout" name="global_logout"
                                       value="1">
                                <label for="global_logout">Разлогинить на других устройствах</label>
                            </div>
                        </div>
                    </div>
                    <div class="hor-spacer pass_change visually-hidden"></div>
                    <div class="row">
                        <div class="left-part">Имя:</div>
                        <div class="right-part"><input class="form-control" type="text" name="first_name"
                                                       value="{{ user.first_name }}"></div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="left-part">Фамилия:</div>
                        <div class="right-part"><input class="form-control" type="text" name="last_name"
                                                       value="{{ user.last_name }}"></div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="left-part">Никнейм:</div>
                        <div class="right-part"><input class="form-control inactive" type="text" name="username"
                                                       disabled="disabled" value="{{ user.get_username }}"></div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="left-part">Дата рождения:</div>
                        <div class="right-part">
                            <script type="text/javascript">
                                const lf_config = {
                                    "months": [
                                        "январь",
                                        "февраль",
                                        "март",
                                        "апрель",
                                        "май",
                                        "июнь",
                                        "июль",
                                        "август",
                                        "сентябрь",
                                        "октябрь",
                                        "ноябрь",
                                        "декабрь"
                                    ],
                                    "pm_block_user": {
                                        "title": "Вы уверены, что хотите заблокировать этого пользователя?",
                                        "message": "",
                                        "button1": {
                                            "title": "Да"
                                        },
                                        "button2": {
                                            "title": "Нет"
                                        }
                                    },
                                    "pm_unblock_user": {
                                        "title": "Вы уверены, что хотите разблокировать этого пользователя?",
                                        "message": "",
                                        "button1": {
                                            "title": "Да"
                                        },
                                        "button2": {
                                            "title": "Нет"
                                        }
                                    },
                                    "pm_delete_dialog": {
                                        "title": "Вы уверены, что хотите удалить всю переписку с этим пользователем?",
                                        "message": "Восстановление невозможно!",
                                        "button1": {
                                            "title": "Да"
                                        },
                                        "button2": {
                                            "title": "Нет"
                                        }
                                    },
                                    "pm": {
                                        "session": "Ошибка сессии. Перегрузите страницу и попробуйте заново.",
                                        "uid": "Ошибочный ID пользователя",
                                        "class": "Нельзя заблокировать пользователя этого класса",
                                        "too_short": "Сообщение слишком короткое",
                                        "guest": "E-mail пользователя не подтвержден. Сожалеем, но ему нельзя написать."
                                    },
                                    "user": {
                                        "default": "Возникла какая-то ошибка",
                                        "avatar_upload_4": "Неверный формат изображения",
                                        "avatar_upload_3": "Изображения слишком маленькое",
                                        "avatar_upload_2": "Ошибка загрузки изображения",
                                        "avatar_upload_1": "Только для залогиненных пользователей",
                                        "user_error": "Пользователь не найден. Возможно устарела сессия",
                                        "settings_password": "Пароль некорректен",
                                        "duplicate_mail": "Пользователь с таким E-mail уже зарегистрирован",
                                        "duplicate_username": "Пользователь с таким Никнеймом уже зарегистрирован",
                                        "mail_error": "Старый e-mail адрес введен неверно. E-mail не изменен",
                                        "mail_incorrect": "Новый e-mail адрес введен несколько некорректно.",
                                        "pass_error2": "Текущий пароль введен неверно. E-mail не изменен.",
                                        "pass_error": "Текущий пароль неверен. Пароль не изменен",
                                        "bdate_error": "Дата рождения указана неверно",
                                        "mail_change": "Повторный запрос. Завершите или отмените предыдущий",
                                        "resend_error": "Письмо было выслано недавно. Подождите немного.",
                                        "resend_code_activated": "Код использован. Профиль должен быть активен.",
                                        "resend_time": "Письмо уже отправлено, попробуйте через час.",
                                        "profile_enabled": "Не нужно ничего делать. Профиль уже активен.",
                                        "fname_too_long": "Длина имени не должна превышать 16 знаков",
                                        "lname_too_long": "Длина фамилии не должна превышать 24 знака",
                                        "forbidden_char": "Недопустимый символ в имени или фамилии",
                                        "login_error": "E-mail или пароль указан неверно",
                                        "captcha_error": "Код с картинки указан неверно"
                                    },
                                    "monthNames": [
                                        "Январь",
                                        "Февраль",
                                        "Март",
                                        "Апрель",
                                        "Май",
                                        "Июнь",
                                        "Июль",
                                        "Август",
                                        "Сентябрь",
                                        "Октябрь",
                                        "Ноябрь",
                                        "Декабрь"
                                    ],
                                    "monthNames2": [
                                        "января",
                                        "февраля",
                                        "марта",
                                        "апреля",
                                        "мая",
                                        "июня",
                                        "июля",
                                        "августа",
                                        "сентября",
                                        "октября",
                                        "ноября",
                                        "декабря"
                                    ],
                                    "monthNamesShort": [
                                        "Янв",
                                        "Фев",
                                        "Мар",
                                        "Апр",
                                        "Май",
                                        "Июн",
                                        "Июл",
                                        "Авг",
                                        "Сен",
                                        "Окт",
                                        "Ноя",
                                        "Дек"
                                    ],
                                    "dayNames": [
                                        "воскресенье",
                                        "понедельник",
                                        "вторник",
                                        "среда",
                                        "четверг",
                                        "пятница",
                                        "суббота"
                                    ],
                                    "dayNamesShort": [
                                        "Вс",
                                        "Пн",
                                        "Вт",
                                        "Ср",
                                        "Чт",
                                        "Пт",
                                        "Сб"
                                    ]
                                }
                                let s_bday = 11;
                                let tmpl = '<select class="form-select d-inline " name="bday" rel="nosearch" style="width:fit-content;">';
                                tmpl += '<option value="0"> -- </option>';
                                for (let i = 1; i <= 31; ++i) {
                                    tmpl += '<option value="' + i + '"' + (i === s_bday ? 'selected="selected"' : '') + '>' + i + '</option>';
                                }
                                tmpl += '</select>';
                                document.write(tmpl);
                            </script>
                            <script type="text/javascript">
                                let s_bmonth = 1;
                                tmpl = '<select class="form-select  d-inline" name="bmonth" rel="nosearch"  style="width:fit-content;">';
                                tmpl += '<option value="0"> -- </option>';
                                let t_month;
                                for (let i = 1; i <= 12; ++i) {
                                    t_month = lf_config.months[i - 1];
                                    t_month = t_month[0].toUpperCase() + t_month.slice(1);
                                    tmpl += '<option value="' + i + '"' + (i === s_bmonth ? 'selected="selected"' : '') + '>' + t_month + '</option>';
                                }
                                tmpl += '</select>';
                                document.write(tmpl);
                            </script>
                            <script type="text/javascript">
                                let s_byear = 1992;
                                tmpl = '<select class="form-select  d-inline" name="byear" rel="nosearch" style="width:fit-content;">';
                                tmpl += '<option value="0"> -- </option>';
                                const dateObj = new Date();
                                const year = dateObj.getFullYear();
                                for (let i = year - 13; i >= year - 100; --i) {
                                    tmpl += '<option value="' + i + '"' + (i === s_byear ? 'selected="selected"' : '') + '>' + i + '</option>';
                                }
                                tmpl += '</select>';
                                document.write(tmpl);
                            </script>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="left-part">Пол:</div>
                        <div class="right-part">
                            <div class="left-block">
                                <div class="radio-box">
                                    <input type="radio" id="sex1" name="sex" value="1" checked="">
                                    <label for="sex1">Мужской</label>
                                </div>
                            </div>
                            <div class="right-block">
                                <div class="radio-box">
                                    <input type="radio" id="sex2" name="sex" value="2">
                                    <label for="sex2">Женский</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="left-part">Страна:</div>
                        <div class="right-part">
                            {% include "registration/country-select.html" %}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="left-part">Город:</div>
                        <div class="right-part">
                            {% include 'registration/sity-select.html' %}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="left-part">Показывать:</div>
                        <div class="right-part">
                            <div class="left-block">
                                <div class="radio-box">
                                    <input type="radio" id="radio03" name="show_name" value="1">
                                    <label for="radio03">Имя и фамилию</label>
                                </div>
                            </div>
                            <div class="right-block">
                                <div class="radio-box">
                                    <input type="radio" id="radio04" name="show_name" value="0" checked="">
                                    <label for="radio04">Никнейм</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="left-part">Мой ID:</div>
                        <div class="right-part"><input class="form-control inactive" type="text" name="myid"
                                                       disabled="disabled" value="{{ user.id }}"></div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="left-part"></div>
                        <div class="right-part">
                            <a class="btn btn-primary col-12" onclick="saveSettings()">Сохранить</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <script>
        // Получаем элементы формы и области предпросмотра
        const form = document.getElementById('avatar-form');
        const imageUpload = document.getElementById('id_avatar');
        const imagePreview = document.getElementById('image-preview');
        let cropData;

        console.log("%cDen", "border: 1px solid red; border-radius: 50%; font-size: 40px; padding: 25px; color: white; background: red; font-weight: bold")

        $(document).ready(function () {
            // Обработчик загрузки файла изображения
            imageUpload.addEventListener('change', function (event) {
                var input = $('#id_avatar')[0];
                if (input.files && input.files[0]) {
                    showElByID('image-crop');
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#image-crop').attr('src', e.target.result);
                        $('#image-crop').ready(initImageAreaSelect);
                    };
                    reader.readAsDataURL(input.files[0]);
                }
            });

            // Функция для инициализации плагина ImageAreaSelect
            function initImageAreaSelect() {
                // Получите ссылку на изображение
                var image = $('#image-crop');
                // Получите размеры изображения
                var imageWidth = image.width();
                var imageHeight = image.height();
                console.log(imageWidth, imageHeight)
                // Вычислите размеры и позицию изначально выбранной области
                var areaSize = Math.min(imageWidth, imageHeight) * 0.8;
                var areaX = (imageWidth - areaSize) / 2;
                var areaY = (imageHeight - areaSize) / 2;
                const sizes = get_dimensions(document.getElementById('image-crop'));
                const ratio = sizes.real_width / sizes.client_width;
                // Инициализируйте плагин ImageAreaSelect
                image.imgAreaSelect({
                    aspectRatio: '1:1', // Соотношение сторон для области
                    x1: areaX,
                    y1: areaY,
                    x2: areaX + areaSize,
                    y2: areaY + areaSize,
                    handles: true, // Отображение ручек изменения размера области
                    onSelectEnd: function (img, selection) {
                        cropData = {
                            'x1': selection.x1 * ratio,
                            'y1': selection.y1 * ratio,
                            'width': selection.width * ratio,
                            'height': selection.height * ratio
                        }
                        console.log(cropData)
                    }
                });
            }
        });


        function sendAvatar() {
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            const sizes = get_dimensions(document.getElementById('image-crop'));

            // Создаем новый Canvas элемент
            const canvas = document.createElement('canvas');
            const ctx = canvas.getContext('2d');

            // Загружаем выбранную картинку в предпросмотр
            const file = imageUpload.files[0];
            const reader = new FileReader();
            reader.onload = function (e) {
                const img = new Image();
                img.onload = function () {
                    // Устанавливаем размеры Canvas, соответствующие выбранной картинке
                    canvas.width = cropData.width;
                    canvas.height = cropData.height;
                    // Рисуем картинку на Canvas
                    ctx.drawImage(img, cropData.x1, cropData.y1, cropData.width, cropData.height, 0, 0, cropData.width, cropData.height);
                    // Получаем обрезанную картинку в формате base64
                    const croppedImageData = canvas.toDataURL('image/jpeg');
                    $.ajax({
                        url: window.location.href,
                        type: 'POST',
                        headers: {'X-CSRFToken': csrftoken},
                        data: {
                            'csrfmiddlewaretoken': csrftoken,
                            'file': croppedImageData,
                        },
                        success: function (response) {
                            // Обработка успешного ответа
                            console.log(response)
                        },
                        error: function (error) {
                            // Обработка ошибки
                            console.log(error);
                        }
                    });
                };
                img.src = e.target.result;
            };
            reader.readAsDataURL(file);

        }

        function get_dimensions(el) {
            // Браузер с поддержкой naturalWidth/naturalHeight
            if (el.naturalWidth !== undefined) {
                return {
                    'real_width': el.naturalWidth,
                    'real_height': el.naturalHeight,
                    'client_width': el.width,
                    'client_height': el.height
                };
            }
            // Устаревший браузер
            else if (el.tagName.toLowerCase() === 'img') {
                var img = new Image();
                img.src = el.src;
                var real_w = img.width;
                var real_h = img.height;
                return {
                    'real_width': real_w,
                    'real_height': real_h,
                    'client_width': el.width,
                    'client_height': el.height
                };
            } else {
                return false;
            }
        }
    </script>

{% endblock %}