{% extends 'home/header.html' %}
{% load static %}
{% load hide_email %}
{% block inhead %}
    <link rel="stylesheet" href="https://unpkg.com/cropperjs/dist/cropper.min.css">
    <script src="https://unpkg.com/cropperjs/dist/cropper.min.js"></script>
    <style>

        .mail_change, .pass_change {
            padding-top: 1rem;
        }

        @media (min-width: 768px) {
            .left-part {
                text-align: right;
                width: 150px;
                float: left;
                font-size: 14px;
                padding-right: 10px;
                padding-top: 10px;
            }

            .right-part {
                width: 350px;
                float: left;
            }
        }

        @media (max-width: 767px) {
            #image-crop {
                max-width: calc(100vw - 24px);
            }
        }

        @media (min-width: 768px) {
            #image-crop {
                max-width: 500px;
            }
        }

        .avatar {
            height: 330px;
            width: 330px;
        }


        hr {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }

    </style>
{% endblock %}

{% block title %}
    Личный кабинет
{% endblock %}

{% block body_block %}


    <div class="container">
        <h1 class="text-center">Личный кабинет</h1>
        <div class="row">
            <div class="col col-lg-auto offset-xl-1">
                <div class="user-block">
                    <div id="avatar-box" class="mx-auto avatar position-relative">
                        <img src="{% if user.userprofile.avatar %}
                                        {{ user.userprofile.avatar.url }}
                                    {% else %}
                                         {% static 'svg/avatar.svg' %}
                                    {% endif %}"
                             class="avatar object-fit-cover border rounded" alt="avatar" id="avatar">
                        <div class="btn btn-edit btn-light position-absolute bottom-0 end-0 m-2 opacity-50"
                             onclick="loadFileImage()"></div>
                        <div class="btn btn-delete btn-light position-absolute top-0 end-0 m-2 opacity-50"
                             onclick="deleteAvatar()"></div>
                    </div>
                    <hr>
                    <div class="photo-settings-block text-center">
                        <div class="text-block text-center mx-auto">Формат загружаемого файла: JPEG или PNG</div>
                        <br>
                        <form method="post" enctype="multipart/form-data" id="avatar-form">
                            {% csrf_token %}
                            <input type="file" class="form-control visually-hidden" id="avatar_file_upload"
                                   aria-label="Upload" accept="image/*">
                        </form>

                        <button type="button" onclick="sendAvatar()"
                                class="btn btn-primary col-10 mx-auto visually-hidden" id="btn-load1">Загрузить
                            <span class="spinner-border spinner-border-sm visually-hidden" role="status"
                                  aria-hidden="true" id="spiner"></span>
                        </button>

                    </div>
                </div>
            </div>

            <div class="col col-md-auto mt-2">
                <div class="settings-pane vstack gap-2 position-relative">
                    <div id="image-preview" class="visually-hidden">
                        <img class="object-fit-contain border rounded" id="image-crop" alt="crop_avatar">
                    </div>
                    <div class="hstack gap-3 btn-toolbar visually-hidden" id="edit-img">
                        <div class="input-group" role="group">
                            <button type="button" onclick="cropper.rotate(90)" class="btn btn-outline-primary">
                                <img class="svg" src="{% static 'svg/rotate-cw.svg' %}"
                                     aria-label="Повернуть по часовой" alt="Повернуть по часовой">
                            </button>
                            <button type="button" onclick="cropper.rotate(-90)" class="btn btn-outline-primary">
                                <img class="svg mirror-X" src="{% static 'svg/rotate-cw.svg' %}"
                                     aria-label="Повернуть против часовой" alt="Повернуть против часовой">
                            </button>
                            <button type="button" onclick="cropper.scaleX(-1*cropper.getData().scaleX)"
                                    class="btn btn-outline-primary">
                                <img class="svg rotate-270 " src="{% static 'svg/mirror-horizontally.svg' %}"
                                     alt="Отразить по горизонтали">
                            </button>
                            <button type="button" onclick="cropper.scaleY(-1*cropper.getData().scaleY)"
                                    class="btn btn-outline-primary">
                                <img class="svg " src="{% static 'svg/mirror-horizontally.svg' %}"
                                     alt="Отразить по вертикали">
                            </button>
                            <button type="button" onclick='maximizeCrop()' class="btn btn-outline-primary">
                                <img class="svg " src="{% static 'svg/maximize-4.svg' %}"
                                     alt="Область обрезки на максимум">
                            </button>
                        </div>
                        <button type="button" onclick="sendAvatar()" class="col btn btn-primary"
                                id="btn-load2">
                            Загрузить
                            <span class="spinner-border spinner-border-sm visually-hidden" role="status"
                                  aria-hidden="true" id="spiner2"></span>
                        </button>
                        <hr>
                    </div>
                    <div class="row mail_sett">
                        <div class="left-part">E-mail:</div>
                        <div class="right-part">
                            <div class="input-group">
                                <span class="input-group-text">@</span>
                                <input type="text" class="form-control" placeholder="email"
                                       value="{{ user.email|hide_email }}" disabled="disabled"
                                       aria-label="Recipient's username" aria-describedby="email">
                                <button class="btn btn-secondary btn-edit" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseEmail" aria-expanded="false"
                                        aria-controls="collapseEmail"
                                        onclick="changeEmail()"></button>
                            </div>
                        </div>
                    </div>
                    <div class="collapse mx-0" id="collapseEmail">
                        <div class="row mail_change">
                            <div class="left-part">Новый адрес:</div>
                            <div class="right-part">
                                <input class="form-control edit-link" type="text" name="new_mail" placeholder=""
                                       value="">
                            </div>
                        </div>
                        <div class="row mail_change by_mail">
                            <div class="left-part">Старый адрес:</div>
                            <div class="right-part">
                                <input class="form-control edit-link" type="text" name="cur_mail" value="">
                                <a href="javascript:{}" class="visually-hidden"
                                   onclick="$('div.mail_change.by_mail').toggle();$('div.mail_change.by_pass').toggle();">
                                    Не помню</a>
                            </div>
                        </div>
                        <div class="hor-spacer mail_change by_mail "></div>
                        <div class="row mail_change by_pass visually-hidden">
                            <div class="left-part">Введите пароль:</div>
                            <div class="right-part">
                                <input class="form-control" type="password" name="cur_pass" value="">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row pass_sett">
                        <div class="left-part">Пароль:</div>
                        <div class="right-part">
                            <div class="input-group">
                                <span class="input-group-text px-3">#</span>
                                <input type="text" class="form-control inactive" placeholder="******"
                                       value="" disabled="disabled"
                                       aria-label="Recipient's username" aria-describedby="email">
                                <button class="btn btn-secondary btn-edit" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapsePassword" aria-expanded="false"
                                        aria-controls="collapsePassword"
                                        onclick="changePassword()"></button>
                            </div>
                        </div>
                    </div>
                    <div class="collapse mx-0" id="collapsePassword">
                        <div class="row pass_change">
                            <div class="left-part">Новый пароль:</div>
                            <div class="right-part"><input class="form-control edit-link" type="password"
                                                           name="new_pass" value=""></div>
                        </div>
                        <div class="row pass_change">
                            <div class="left-part">Повтор пароля:</div>
                            <div class="right-part"><input class="form-control" type="password" name="new_pass_check"
                                                           value=""></div>
                        </div>
                        <div class="row pass_change">
                            <div class="left-part">Старый пароль:</div>
                            <div class="right-part"><input class="form-control edit-link" type="password"
                                                           name="old_pass" value=""></div>
                        </div>
                        <div class="row pass_change">
                            <div class="left-part"></div>
                            <div class="right-part">
                                <button class="btn btn-outline-primary col-12" onclick="goTo('/reminder')">Забыли
                                    пароль?
                                </button>
                            </div>
                        </div>
                        <div class="row pass_change visually-hidden">
                            <div class="left-part"></div>
                            <div class="right-part">
                                <div class="checkbox-box">
                                    <br>
                                    <input class="form-control" type="checkbox" id="global_logout" name="global_logout"
                                           value="1">
                                    <label for="global_logout">Выйти на других устройствах</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="left-part">Имя:</div>
                        <div class="right-part"><input class="form-control" type="text" name="first_name"
                                                       value="{{ user.first_name }}"></div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="left-part">Фамилия:</div>
                        <div class="right-part"><input class="form-control" type="text" name="last_name"
                                                       value="{{ user.last_name }}"></div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="left-part">Никнейм:</div>
                        <div class="right-part"><input class="form-control inactive" type="text" name="username"
                                                       disabled="disabled" value="{{ user.get_username }}"></div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="left-part">Дата рождения:</div>
                        <div class="right-part">
                            <div class="input-group date">
                                <input type="date" class="form-control" value="" min="1900-01-01"
                                       max="{% now "Y-m-d" %}">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="left-part">Пол:</div>
                        <div class="right-part row pe-0 ">
                            <div class="btn-group pe-0" role="group" aria-label="sex">
                                <input type="radio" class="btn-check" name="sex" value="m" id="sex1"
                                       autocomplete="off">
                                <label class="btn btn-outline-primary col-6" for="sex1">Мужской</label>
                                <input type="radio" class="btn-check" id="sex2" name="sex" value="f"
                                       autocomplete="off">
                                <label class="btn btn-outline-primary col-6" for="sex2">Женский</label>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="left-part">Страна:</div>
                        <div class="right-part">
                            {% include "registration/country-select.html" %}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="left-part">Город:</div>
                        <div class="right-part">
                            {% include 'registration/sity-select.html' %}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="left-part">Показывать:</div>
                        <div class="right-part row pe-0">
                            <div class="btn-group pe-0" role="group" aria-label="sex">
                                <input type="radio" class="btn-check" name="show_name" value="fullname"
                                       id="show_fullname" autocomplete="off">
                                <label class="btn btn-outline-primary  col-6" for="show_fullname">Имя и фамилию</label>
                                <input type="radio" class="btn-check" name="show_name" value="nickname"
                                       id="show_nickname" autocomplete="off" checked>
                                <label class="btn btn-outline-primary  col-6" for="show_nickname">Никнейм</label>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="left-part">Мой ID:</div>
                        <div class="right-part"><input class="form-control inactive" type="text" name="my_id"
                                                       disabled="disabled" value="{{ user.id }}"></div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="left-part"></div>
                        <div class="right-part">
                            <a class="btn btn-primary col-12" onclick="saveSettings()">Сохранить</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <script>
        // Получаем элементы формы и области предпросмотра
        const form = document.getElementById('avatar-form');
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        const imageUpload = document.getElementById('avatar_file_upload');
        const imagePreview = document.getElementById('image-preview');
        let cropData;
        let cropper;
        console.info("%cDisname", "border: 5px solid orange; border-radius: 50%; font-size: 40px; padding: 25px; color: white; background: red; font-weight: bold")
        $(document).ready(function () {
            // Обработчик загрузки файла изображения
            imageUpload.addEventListener('change', function (event) {
                const input = $('#avatar_file_upload')[0];
                if (input.files && input.files[0]) {
                    const reader = new FileReader();
                    reader.onload = function (e) {
                        $('#image-crop').attr('src', e.target.result);
                        $('#image-crop').ready(function () {
                            showEl(imagePreview);
                            if (window.innerWidth > 770) showElByID('btn-load1');
                            showElByID('edit-img');
                            initCroper()
                        });
                    };
                    reader.readAsDataURL(input.files[0]);
                }
            });


            function initCroper() {
                const image = document.getElementById('image-crop');
                image.scrollIntoView({behavior: "smooth", block: "center"});
                cropper = new Cropper(image, {
                    aspectRatio: 1, // Соотношение сторон для области
                    viewMode: 2,
                    dragMode: 'move', // Режим перетаскивания
                    cropBoxResizable: true, // Возможность изменения размера области
                    crop: function (event) {
                        cropData = cropper.getData();
                        console.info(cropData);
                    }
                });
            }

        });

        function sendAvatar() {
            showElByID("spiner")
            // Создаем новый Canvas элемент
            const imageExt = $('#avatar_file_upload')[0].files[0].name.split(".");
            const imageFormat = (imageExt.length > 1 && imageExt[imageExt.length - 1].toLowerCase() === 'png') ? 'png' : 'jpeg';
            const croppedCanvas = cropper.getCroppedCanvas({maxWidth: 800, maxHeight: 800})
            const croppedImageData = croppedCanvas.toDataURL('image/' + imageFormat);
            $.ajax({
                url: window.location.href,
                type: 'POST',
                headers: {'X-CSRFToken': csrftoken},
                data: {
                    'csrfmiddlewaretoken': csrftoken,
                    'file': croppedImageData,
                    'image_format': imageFormat,
                },
                success: function (response) {
                    console.log(response)
                    location.reload();
                },
                error: function (error) {
                    console.error(error);
                    alert(error.statusText)
                }
            });
        }

        function deleteAvatar() {
            $.ajax({
                url: window.location.href,
                type: 'POST',
                headers: {'X-CSRFToken': csrftoken},
                data: {
                    'csrfmiddlewaretoken': csrftoken,
                    'delete_avatar': "x",
                },
                success: () => location.reload(),
                error: function (error) {
                    console.log(error);
                    alert(error.statusText)
                }
            });
        }

        const opacityButtons = document.querySelectorAll(".btn-opacity");

        opacityButtons.forEach(function (opacityButton) {
                opacityButton.addEventListener("mouseenter", function () {
                    opacityButton.style.opacity = "1";
                });
                opacityButton.addEventListener("mouseleave", function () {
                    opacityButton.style.opacity = "0.5";
                });
            }
        )

        function loadFileImage() {
            if (typeof cropper !== "undefined") {
                cropper.destroy();
                hideEl(imagePreview);
            }
            imageUpload.click()
        }

        function maximizeCrop() {
            const canvasData = cropper.getCanvasData();
            const minSize = Math.min(canvasData.width, canvasData.height)
            const left = (canvasData.width - minSize) / 2
            const top = (canvasData.height - minSize) / 2
            cropper.setCropBoxData({"left": left, "top": top, "width": minSize, "height": minSize})
        }

    </script>

{% endblock %}