{% extends 'home/header.html' %}

{% block inhead %}
{% endblock %}

{% block title %}
    Регистрация пользователя
{% endblock %}

{% block body_block %}
    <div class="container-lg text-center px-2">
        {% block content %}

            <h1>Создайте аккаунт</h1>
            <p>Пожалуйста, зарегистрируйтесь, используя следующую форму:</p>
            <div class="d-grid row mx-auto">
                <div class="col-lg-6 offset-lg-3">
                    <form action="." method="post">
                        {{ user_form.as_p }}
                        {% csrf_token %}
                        <input class='btn btn-primary col-12 mx-auto d-flex text-center mt-4' type="submit"
                               value="Зарегистрироваться">
                    </form>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}