{% include "modules/modal.html" %}
<script>
    const modalBackdrop = document.getElementById('staticBackdrop');
    const options = {
        backdrop: 'static',
        keyboard: false
    };
    const modal = new bootstrap.Modal(modalBackdrop);
    const modalBtn = modalBackdrop.querySelector('.btn');
    modalBackdrop.querySelector('#staticBackdropLabel').textContent = 'Это закрытый чат';
    modalBackdrop.querySelector('.modal-body').textContent = "У Вас нет доступа к этому чату!";
    modalBtn.classList.add("btn-secondary");
    modalBtn.innerHTML = "Назад";
    modal.show(options);

    function closeModalAndRestart() {
        closeModal();
    }

    function closeModal() {
        history.back();
        modal.show(options);
    }
</script>
