{% extends 'home/header.html' %}
{% load static %}

{% block inhead %}

{% endblock %}

{% block title %}
    Чат комната
{% endblock %}

{% block body_block %}
    {% if alien %}
        {% include "modules/modal.html" %}
        <script>
            const modalBackdrop = document.getElementById('staticBackdrop');
            const options = {
                backdrop: 'static',
                keyboard: false
            };
            const modal = new bootstrap.Modal(modalBackdrop);
            const modalBtn = modalBackdrop.querySelector('.btn');
            modalBackdrop.querySelector('#staticBackdropLabel').textContent = 'Это закрытый чат';
            modalBackdrop.querySelector('.modal-body').textContent = "У Вас нет доступа к этому чату!";
            modalBtn.classList.add("btn-secondary");
            modalBtn.innerHTML = "Назад";
            modal.show(options);

            function closeModalAndRestart() {
                closeModal();
            }

            function closeModal() {
                history.back();
                modal.show(options);
            }
        </script>
    {% else %}
        <div class="container">
            {% if personal_message %}
                <h5>Закрытая беседа {{ users }}</h5>
            {% else %}
                <h5>Добро пожаловать в комнату "{{ room_name }}"!</h5>
            {% endif %}
            <div class="row align-items-end overflow-y-auto" style="min-height: 60vh; max-height: 65vh">
                <div class="col mb-3 vstack gap-3 align-self-end" id="chat-log">
                </div>
            </div>
            <form id="sendMessageForm">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="text" name="chat-message-input" id="chat-message-input" autofocus
                           placeholder="Введите сообщение"
                           class="form-control active border-primary focus-ring" aria-label="Введите сообщение"
                           aria-describedby="chat-message-submit" maxlength="255" required>
                    <button class="btn btn-primary btn-lg" type="submit" id="chat-message-submit">Отправить</button>
                </div>
            </form>
        </div>
        {{ room_name|json_script:"room-name" }}
        <script src="{% static "js/local-date.js" %}?v1.1"></script>
        <script>
            const roomName = JSON.parse(document.getElementById('room-name').textContent);
            const chatMessageInput = document.querySelector('#chat-message-input');
            const chatLog = document.querySelector('#chat-log');
            const chatSocket = new WebSocket(webSocket());
            let lastDate;
            let lastTime;

            chatSocket.onmessage = function (e) {
                const data = JSON.parse(e.data);
                let sender;
                let divClass;
                let position;
                let time;
                if (data.created_at) {
                    const date = localeDate(data.created_at);
                    time = localeTime(data.created_at);
                    if (lastDate !== date) {
                        lastDate = date
                        systemMessage(date);
                    }
                    if (lastTime !== time) {
                        lastTime = time
                    }
                }
                if (data.sender === "Системное сообщение") {
                    systemMessage(data.message)
                } else {
                    if (data.sender === "{{ user.get_username }}") {
                        sender = "(Вы): ";
                        divClass = "bg-success rounded-start-4";
                        position = "d-flex justify-content-end ";

                    } else {
                        sender = "(" + data.sender + "): ";
                        divClass = "bg-primary rounded-end-4";
                        position = "d-flex justify-content-start ";
                    }
                    chatLog.innerHTML += `<div class="` + position +
                        `"><div class= 'position-relative text-break rounded-top-4 text-white ` +
                        divClass + ` px-2' >` + sender + data.message + `&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;` +
                        `<span class= "position-absolute bottom-0 end-0 badge fw-light text-wrap pe-0 pb-1" style="width: 3rem;">`
                        + time + `</span></div></div>`;

                }
            };

            chatSocket.onclose = function () {
                systemMessage("Соединение разорвано, пожалуйста обновите страницу!")
            };

            function systemMessage(message) {
                chatLog.innerHTML += `<div class="d-flex justify-content-center">` +
                    `<div class= 'rounded-4 text-white bg-secondary text-center mx-auto py-0 px-2' >` +
                    message + `</div></div>`;
            }


            document.getElementById("sendMessageForm").addEventListener("submit", function (event) {
                event.preventDefault();
                const message = chatMessageInput.value;
                chatSocket.send(JSON.stringify({
                    'message': message,
                }));
                chatMessageInput.value = '';
            });


        function webSocket() {
            let protocol = 'ws://';
            if (window.location.protocol === "https:") {
                protocol = 'wss://';
            }
            return protocol + window.location.host + '/ws/chat/' + roomName + '/'
        }
    </script>
    {% endif %}
{% endblock %}