.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#game-field {
    background-image: url("/static/match_three/night-sky.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10%;
    position: relative;
    overflow: hidden;
}

.gem {
    border-radius: 50%;
    position: absolute;
    border: 1px solid white;
    cursor: pointer;
}

.rainbow-border {
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
}

.rotate90 {
    transform: rotate(90deg);
}

.rainbow-border::before {

    content: "";
    position: absolute;
    top: -22%;
    left: -22%;
    width: 150%;
    height: 150%;
    background: conic-gradient(from 0, red, yellow, lime, aqua, blue, magenta, red);
    z-index: 0;
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: rotate(360deg);
        opacity: 1;
    }
}

.pointer-events {
    pointer-events: none;
}

.gem.horizontal-flash::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-image: url("/static/match_three/horisontal-flash.gif");
    background-size: cover;
}

.gem.vertical-flash::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-image: url('/static/match_three/vertical-flash.gif');
    background-size: cover;
}

.gem.double-flash::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-image: url('/static/match_three/double-flash.gif');
    background-size: cover;
}

.gem.rainbow::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-image: url('/static/match_three/rainbow.gif');
    background-size: cover;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.blinking-element {
    animation: blink 2s;
    animation-iteration-count: 3;
}

.beam-pulse-horizontal {
    background: linear-gradient(0, rgba(0, 0, 255, 0) 0%, rgba(0, 0, 255, 0.8) 20%, rgba(255, 255, 255, 1) 50%, rgba(00, 00, 255, 0.8) 80%, rgba(0, 0, 255, 0) 100%);
    position: absolute;
    pointer-events: none;
    border-radius: 0 25% 25% 0;
    animation: beam-pulse-anim 0.5s 1;
    z-index: 10;
}

.beam-pulse-vertical {
    background: linear-gradient(90deg, rgba(0, 0, 255, 0) 0%, rgba(0, 0, 255, 0.6) 20%, rgba(255, 255, 255, 1) 50%, rgba(00, 00, 255, 0.6) 80%, rgba(0, 0, 255, 0) 100%);
    position: absolute;
    pointer-events: none;
    border-radius: 25% 0 0 25%;
    animation: beam-pulse-anim 0.5s 1;
    z-index: 10;
}

@keyframes beam-pulse-anim {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    1% {
        transform: scale(0);
        opacity: 1;
    }
    99% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}