{% extends 'home/header.html' %}

{% block inhead %}
<style>

    .none {
        display: none;
    }

</style>
{% endblock %}


{% block title %}
   Игры
{% endblock %}

{% block body_block %}
    <div class="container mt-2">
        <ul class="mb-2">
            <li class="nav-item ">
                <a class="nav-link " href="#"  aria-expanded="true">Игры</a>
                <ul class="menu">
                    <li><a class="list-group-item list-group-item-action" href="{% url 'guess_the_word_game' %}">Угадай слово</a></li>
                    <li><a class="list-group-item list-group-item-action" href="{% url 'tetris' %}">Тетрис</a></li>
                </ul>
            </li>
        </ul>
    </div>
{% endblock %}


