<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
       aria-expanded="false">Игры</a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'guess_the_word_game' %}">Угадай слово</a></li>
        <li><a class="dropdown-item" href="{% url 'pole_chudes_lobby' %}">Поле чудес</a></li>
        <li><a class="dropdown-item" href="{% url 'tetris' %}">Тетрис</a></li>
        <li><a class="dropdown-item" href="{% url 'match_three' %}">Три в ряд</a></li>
    </ul>
</li>