{% extends 'home/header.html' %}
{% load static %}

{% block inhead %}
    <script src="{% static "match_three/constants-and-variables.js" %}?v1.1"></script>
    <script src="{% static "match_three/jquery.touchSwipe.js" %}?v1.1"></script>
    <script src="{% static "match_three/bejeweled.js" %}?v1.1"></script>
    <link rel="stylesheet" href="{% static 'match_three/match-three-style.css' %}">
{% endblock %}


{% block title %}
    Игра "Три в ряд"
{% endblock %}

{% block body_block %}

    <div class="container-lg text-center user-select-non px-0">
        <div class="col-md-12 mx-0 px-0">
            <h1>Игра "Три в ряд"</h1>
            <div class="row text-center mx-0 px-p">
                <div class="col d-md-flex justify-content-md-end">
                    <div class="col col-md-4 col-lg-3">Счёт: <span id="score">0</span></div>
                    <div class="col col-md-4 col-lg-3">Ходы: <span id="moves">20</span></div>
                </div>
                <div class="col d-md-flex">
                    <div class="col col-md-4 col-lg-3">Цель: <span id="target">250</span></div>
                    <div class="col col-md-4 col-lg-3">Уровень: <span id="level">1</span></div>
                </div>
            </div>
        </div>

        <div class="mx-auto" id="game-field">
            <div id="marker"></div>
        </div>
    </div>
    {% include "modules/modal.html" %}
    <script src="{% static "match_three/account.js" %}?v1.1"></script>
{% endblock %}