{% extends 'home/header.html' %}
{% load static %}

{% block inhead %}
    <script src="{% static "match_three/constants-and-variables.js" %}"></script>
    <script src="{% static "match_three/jquery.touchSwipe.js" %}"></script>
    <script src="{% static "match_three/bejeweled.js" %}"></script>
{% endblock %}


{% block title %}
    Игра "Три в ряд"
{% endblock %}

{% block body_block %}

    <div class="container-lg text-center user-select-non px-0">
        <div class="col-md-12">
            <h1>Игра "Три в ряд"</h1>
            <div class="row text-center">
                <div class="col d-md-flex justify-content-md-end">
                    <div class="col col-md-4 col-lg-3">Счёт: <span id="score">0</span></div>
                    <div class="col col-md-4 col-lg-3">Ходы: <span id="moves">20</span></div>
                </div>
                <div class="col d-md-flex">
                    <div class="col col-md-4 col-lg-3">Цель: <span id="target">250</span></div>
                    <div class="col col-md-4 col-lg-3">Уровень: <span id="level">1</span></div>
                </div>
            </div>
        </div>
        <div class="mx-auto" id="marker"></div>
        <div class="mx-auto" id="game-field"></div>
    </div>
    <!-- Modal -->
    <div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Системное сообщение</h1>
                    <button onclick="closeModal()" type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button onclick="closeModal()" type="button" class="btn " data-bs-dismiss="modal">Закрыть</button>
                    {#                    <button type="button" class="btn btn-primary">Understood</button>#}
                </div>
            </div>
        </div>
    </div>
    <script src="{% static "match_three/account.js" %}"></script>
{% endblock %}