{% extends 'home/header.html' %}
{% load static %}

{% block inhead %}
    <script src="{% static "match_three/constants-and-variables.js" %}?v1.4"></script>
    <script src="{% static "js/jquery.touchSwipe.min.js" %}"></script>
    <script src="{% static "match_three/main-game.js" %}?v1.3"></script>
    <script src="{% static "match_three/board-and-gem.js" %}?v1.3"></script>

    <link rel="stylesheet" href="{% static 'match_three/match-three-style.css' %}?v1.5">
{% endblock %}


{% block title %}
    Игра "Три в ряд"
{% endblock %}

{% block body_block %}
    {% csrf_token %}
    <div class="container-lg text-center user-select-non px-0">
        <div class="col-md-12 mx-0 px-0">
            <h1>Игра "Три в ряд"</h1>
            <div class="row text-center mx-0 px-p">
                <div class="col d-md-flex justify-content-md-end">
                    <div class="col col-md-4 col-lg-3">Счёт: <span id="score">0</span></div>
                    <div class="col col-md-4 col-lg-3">Ходы: <span id="moves">20</span></div>
                </div>
                <div class="col d-md-flex">
                    <div class="col col-md-4 col-lg-3">Цель: <span id="target">250</span></div>
                    <div class="col col-md-4 col-lg-3">Уровень: <span id="level">1</span></div>
                </div>
            </div>
        </div>

        <div class="mx-auto mb-3" id="game-field">
            <div id="marker" class="rainbow-border"></div>
        </div>
        <div class="col-auto mx-auto px-lg-5">
            <div class="container-lg row d-flex mx-auto justify-content-md-center px-lg-5">
                <div class="col-lg-auto pb-2">
                    <a class="btn btn-outline-success d-flex text-center" href="{% url 'match_three_results' %}"
                       role="button">
                        Таблица рекордов
                    </a>
                </div>
                <div class="col-lg-auto pb-2">
                    <a class="btn btn-outline-danger d-flex text-center" onclick="start_new_game()" role="button">
                        Начать сначала
                    </a>
                </div>
                <div class="col-lg-auto pb-2">
                    <a class="btn btn-outline-primary d-flex text-center" id="rules_btn" href="#rules"
                       data-bs-toggle="collapse"
                       role="button" aria-expanded="true" aria-controls="collapseExample">
                        Напомнить правила
                    </a>
                </div>
            </div>
            <div class="collapse {{ show_rules }} pb-2" id="rules">
                <div class="card card-body">
                    <b>
                        Перед игроком представлено поле, которое имеет вид сетки с разными элементами внутри.
                        Передвигать можно только элементы, находящиеся по соседству.
                        Главная задача игрока состоит в том, чтобы составить комбинацию из одинаковых фигур.
                        В последующем они исчезнут.
                        После нахождения схожих элементов, их место занимают другие фигурки.
                        То есть сетка никогда не пустеет, всегда остается заполненной.
                        У игрока есть ограниченное количество ходов,
                        за которое необходимо набрать требуемое количество очков для прохождения на следующий уровень.
                    </b>
                </div>
            </div>
        </div>
    </div>
    {% include "modules/modal.html" %}
    <script src="{% static "match_three/account.js" %}?v1.5"></script>
{% endblock %}