.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.pointer-events {
    pointer-events: none;
}

.gem.horizontal-flash::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-image: url("/static/match_three/horisontal-flash.gif");
    background-size: cover;
}

.gem.vertical-flash::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-image: url('/static/match_three/vertical-flash.gif');
    background-size: cover;
}

.gem.double-flash::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-image: url('/static/match_three/double-flash.gif');
    background-size: cover;
}

.gem.rainbow::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-image: url('/static/match_three/rainbow.gif');
    background-size: cover;
}