{% extends 'guess_the_word_game/game.html' %}
{% load static %}
{% load group_check %}

{% block start_game %}

    <div class="row text-center">
        <div class="col text-center">
            <h1>Игра "Отгадай слово"</h1>
        </div>
        <div class="col-xl-5 mb-4">
            <form method="GET" action="{% url 'guess_the_word_game' %}">
                {% csrf_token %}
                <div class="input-group justify-content-md-end">
                    <select name="dif" class="form-select" id="inputDifGroupSelect"
                            aria-label="Example select with button addon">
                        <option value="4">Слово из 4 букв</option>
                        <option value="5" selected>Слово из 5 букв</option>
                        <option value="6">Слово из 6 букв</option>
                        <option value="7">Слово из 7 букв</option>
                    </select>
                    <button class="btn btn-primary btn-lg" type="submit">Новая игра</button>
                </div>
            </form>


            <script>
                const difficulty = "{{ dif }}";
                // Получаем элемент select
                const selectElement = document.getElementById("inputDifGroupSelect");
                // Находим нужный option элемент по значению и устанавливаем атрибут selected
                for (let i = 0; i < selectElement.options.length; i++) {
                    if (selectElement.options[i].value === difficulty) {
                        selectElement.options[i].selected = true;
                        break;
                    }
                }

                const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                selectElement.addEventListener("change", function () {
                    const params = {
                        csrfmiddlewaretoken: csrftoken,
                        dif: this.value,
                    };
                    const paramString = Object.keys(params).map(function (key) {
                        return key + "=" + encodeURIComponent(params[key]);
                    }).join("&");
                    window.location.href = window.location.origin + window.location.pathname + "?" + paramString;
                });
            </script>
        </div>
    </div>
    <div class="row">
        <div class="col-lg pb-2">
            <a class="btn btn-secondary d-flex text-center" type="button" id="attempt">
                Осталось попыток: {{ remaining_attempts }}.
            </a>
        </div>
        <div class="col-lg pb-2">
            <a class="btn btn-outline-success d-flex text-center" href="{% url 'guess_the_word_game_results' %}"
               role="button">
                Таблица рекордов
            </a>
        </div>
        {% has_group 'Testers' as is_tester %}
        {% if is_tester %}
            <div class="col-lg pb-2">
                <a class="btn btn-outline-danger d-flex text-center" href="{% url 'guess_the_word_game_remove' %}"
                   role="button">
                    Удалить слово
                </a>
            </div>
        {% endif %}

        {% if user.is_superuser %}
            <div class="col-lg pb-2">
                <a class="btn btn-success d-flex text-center" href="{% url 'guess_the_word_game_help' %}"
                   role="button">
                    Подобрать слово
                </a>
            </div>
        {% endif %}
        <div class="col-lg pb-2">
            <a class="btn btn-outline-primary d-flex text-center" id="rules_btn" href="#rules" data-bs-toggle="collapse"
               role="button" aria-expanded="true" aria-controls="collapseExample">
                Напомнить правила
            </a>
        </div>
    </div>
    <div class="collapse {{ show_rules }} pb-2" id="rules">
        <div class="card card-body">
            <b>
                    <span> Вам нужно отгадать слово из {{ dif }} букв.<br>
                    После того, как Вы введёте слово цветами будет показано соответствие букв в Вашем слове загаданному<br>
                </span>
                <span class="link-danger">Красным отображаются буквы которых нет в загаданном слове.<br>
                    </span>
                <span class="link-primary">Синим показаны буквы, которые находятся не на своём месте.<br>
                    </span>
                <span class="link-success">Зелёным подсвечиваются угаданные буквы.
                    </span>
            </b>
        </div>
    </div>


{% endblock %}

{% block entered_words %}

    <div class="col col-md-12 mx-auto text-center mx-auto " id="word-container">
        {% autoescape off %}
            <h2 class="mx-auto" id="words">
                {% for entered_colored_word in entered_colored_words_list %}
                    <div class="row justify-content-center text-center colored-word"> {{ entered_colored_word|safe }}</div>
                {% endfor %}
            </h2>
            <b><span>{{ notice|safe }}</span></b>
        {% endautoescape %}
    </div>
    <br>
    <div class="z-3 position-absolute top-50 start-50 translate-middle pe-none {{ firework }}" tabindex="-1"
         aria-disabled="true"><span>
        <canvas class="pe-none" width="640" height="480" id="fireworks-canvas" tabindex="-1"
                aria-disabled="true"></canvas>
    <script src=" {% static "/js/fireworks.js" %} "></script>
    </span>
    </div>
{% endblock %}
{% block input_word %}
    <form method="GET" action="{% url 'guess_the_word_game' %}">
        {% csrf_token %}
        <div class="input-group mb-3">
            <input type="text" name="my_input" class="form-control active" autofocus placeholder="Введите слово"
                   aria-label="Введите слово" aria-describedby="input_btn" minlength="{{ dif }}"
                   maxlength="{{ dif }}" id="my_input"
                   pattern="[а-яёА-ЯЁ]+" title="Пожалуйста, введите только русские буквы" required>
            <button class="btn btn-primary btn-lg" type="submit" id="input_btn" {{ input_btn }} >Проверить</button>
        </div>
    </form>

    <div class="row d-flex mt-2 mx-2 mx-md-auto" id="keyboard_btn">
        <a class="btn btn-sm btn-outline-secondary d-flex text-center col p-0 mx-auto" href="#keyboard"
           data-bs-toggle="collapse"
           role="button" aria-expanded="true" aria-controls="#keyboard #remove_button" data-bs-target=".multi-collapse">
            Клавиатура
        </a>
        <div class="col-3 collapse show collapse-horizontal multi-collapse">
            <a class="btn btn-sm btn-outline-secondary col-12 ms-2 p-0 " onclick="deleteSymbol()" id="remove_btn"
               role="button">
                <img src="{% static "svg/delete.svg" %}" alt="Delete">
            </a>
        </div>
    </div>

    <div class="collapse show multi-collapse text-center mx-2 mx-md-auto user-select-none" id="keyboard">
    </div>
    <script type="text/javascript" src="{% static "guess_the_word_game/colored-keyboard.js" %}?v1.1"></script>

{% endblock %}
