{% extends 'guess_the_word_game/game.html' %}
{% load static %}


{% block start_game %}

    <div class="row text-center">
        <div class="col-xl-7">
            <h1>Игра "Отгадай слово"</h1>
        </div>
        <div class="col-xl-5 mb-4">
            <form method="GET" action="{% url 'guess_the_word_game' %}">
                {%  csrf_token  %}
            <div class="input-group justify-content-md-end">
                <select name="dif" class="form-select" id="inputDifGroupSelect" aria-label="Example select with button addon">
                    <option value="4">Лёгкий</option>
                    <option value="5" selected>Средний</option>
                    <option value="6">Тяжёлый</option>
                    <option value="7">Нереальный</option>
                </select>
                <button class="btn btn-primary btn-lg" type="submit">Новая игра</button>
            </div>
            </form>


            <script>
                // Получаем значение из реквеста (здесь предполагается, что значение сохранено в переменной selectedValue)
                let selectedValue = "{{ dif }}";
                // Получаем элемент select
                const selectElement = document.getElementById("inputDifGroupSelect");
                // Находим нужный option элемент по значению и устанавливаем атрибут selected
                for (let i = 0; i < selectElement.options.length; i++) {
                    if (selectElement.options[i].value === selectedValue) {
                        selectElement.options[i].selected = true;
                        break;
                    }
                }
            </script>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-xl-2 pb-2">
            <a class="btn btn-secondary d-flex text-center" type="button" id="attempt">
                Осталось попыток: {{ remaining_attempts }}.
            </a>
        </div>
        <div class="col-lg-3 col-xl-2 pb-2">
            <a  class="btn btn-outline-success d-flex text-center" href="{% url 'guess_the_word_game_results' %}" role="button">
                Таблица рекордов
            </a>
        </div>
        <div class="col-lg-3 col-xl-2 pb-2">
            <a class="btn btn-outline-primary d-flex text-center" id="rules_btn"  href="#rules" data-bs-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseExample">
                Напомнить правила
            </a>
        </div>
    </div>
    <div class="collapse {{ show_rules }} pb-2" id="rules">
        <div class="card card-body">
            <b>
                    <span> Вам нужно отгадать слово из {{ dif }} букв.<br>
                    После того, как Вы введёте слово цветами будет показано соответствие букв в Вашем слове загаданному<br>
                </span>
                <span class="link-danger">Красным отображаются буквы которых нет в загаданном слове.<br>
                    </span>
                <span class="link-primary">Синим показаны буквы, которые находятся не на своём месте.<br>
                    </span>
                <span class="link-success">Зелёным подсвечиваются угаданные буквы.
                    </span>
            </b>
        </div>
    </div>


{% endblock %}

{% block entered_words %}

    <div class="col col-md-12 mx-auto text-center mx-auto">
        {% autoescape off %}
            <h2 class="mx-auto">
                 {% for entered_colored_word in entered_colored_words_list %}
                     <div class="row justify-content-center text-center"> {{ entered_colored_word|safe  }}</div>
                 {% endfor %}
            </h2>
            <b><span>{{ notice|safe }}</span></b>
        {% endautoescape %}
    </div>
<br>
    <div class="z-n1 position-absolute top-50 start-50 translate-middle {{ firework }}"><span>
        <canvas width="640" height="480" id="fireworks-canvas"></canvas>
    <script src=" {% static "/js/fireworks.js" %} " ></script>
    </span>
    </div>
{% endblock %}
{% block input_word %}
    <form method="GET" action="{% url 'guess_the_word_game' %}">
        {% csrf_token %}
        <div class="input-group mb-3">
            <input type="text" name="my_input" class="form-control active" autofocus placeholder="Введите слово" aria-label="Введите слово" aria-describedby="button-addon2">
            <button class="btn btn-primary btn-lg" type="submit" id="button-addon2" {{ input_btn }} >Проверить</button>
        </div>
    </form>
    <br>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary none" id="myInput" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Launch demo modal
    </button>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <canvas width="640" height="480" id="fireworks-canvas"></canvas>
                        <script src=" {% static "/js/fireworks.js" %} " ></script>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
{#<script>#}
{#    const myModal = document.getElementById('exampleModal')#}
{#    const myInput = document.getElementById('myInput')#}
{##}
{#    myModal.addEventListener('shown.bs.modal', () => {#}
{#    myInput.focus()#}
{#    })#}
{#</script>#}

{% endblock %}
