{% extends 'home/header.html' %}

{% block inhead %}
    <style>

        .none {
            display: none;
        }

        code {
            text-align: center;
        }

        body {
            padding: 0;
        }

        .custom-tooltip {
            --bs-tooltip-bg: var(--bs-primary);
        }

        .custom-popover {
            --bs-popover-max-width: 200px;
            --bs-popover-border-color: var(--bs-primary);
            --bs-popover-header-bg: var(--bs-primary);
            --bs-popover-header-color: var(--bs-white);
            --bs-popover-body-padding-x: 1rem;
            --bs-popover-body-padding-y: .5rem;
        }

        @media (min-width: 992px) {
            .colored-word .border {
                width: 60px;
                height: 60px;
                padding-top: 10px;
                align-items: center;
                vertical-align: center;
                justify-content: center;
                margin: 4px;
            }
        }

        @media (max-width: 991px) {
            .colored-word .border {
                width: 50px;
                height: 50px;
                padding-top: 9px;
                align-items: center;
                vertical-align: center;
                justify-content: center;
                margin: 2px;
            }
        }

        #keyboard, #keyboard_btn {
            max-width: 600px;

        }

        #keyboard .border {
            align-items: center;
            justify-content: center;
            padding: 1px !important;
        }

        #remove_button img {
            filter: invert(60%);
        }

    </style>
{% endblock %}


{% block title %}
    Игра угадай слово
{% endblock %}

{% block body_block %}
    <div class="container-xl">
        {% block start_game %} {% endblock %}


        <div id="wordDisplay">
            {% block entered_words %} {% endblock %}
            <!-- Здесь будут отображаться введённые слова -->
        </div>
        {% block input_word %} {% endblock %}
    </div>


    <script>

        function checkAnswer() {
            // Добавьте код для проверки ответа пользователя и обновления отображения введённых слов
        }
    </script>

    <pre id="codeBlock" class="hidden none">
    <code class="align-center">
<kbd id="Й">Й</kbd> <kbd id="Ц">Ц</kbd> <kbd id="У">У</kbd> <kbd id="К">К</kbd> <kbd id="Е">Е</kbd> <kbd id="Н">Н</kbd> <kbd
            id="Г">Г</kbd> <kbd id="Ш">Ш</kbd> <kbd id="Щ">Щ</kbd> <kbd id="З">З</kbd> <kbd id="Х">Х</kbd> <kbd
            id="Ъ">Ъ</kbd>
  <kbd id="Ф">Ф</kbd> <kbd id="Ы">Ы</kbd> <kbd id="В">В</kbd> <kbd id="А">А</kbd> <kbd id="П">П</kbd> <kbd
            id="Р">Р</kbd> <kbd id="О">О</kbd> <kbd id="Л">Л</kbd> <kbd id="Д">Д</kbd> <kbd id="Ж">Ж</kbd> <kbd
            id="Э">Э</kbd>
    <kbd id="Я">Я</kbd> <kbd id="Ч">Ч</kbd> <kbd id="С">С</kbd> <kbd id="М">М</kbd> <kbd id="И">И</kbd> <kbd
            id="Т">Т</kbd> <kbd id="Ь">Ь</kbd> <kbd id="Б">Б</kbd> <kbd id="Ю">Ю</kbd>
    </code>
</pre>

{% endblock %}


