{% extends 'home/header.html' %}

{% block inhead %}
    <style>

        .none {
            display: none;
        }

        body {
            padding: 0;
        }

        #game-field {
            position: relative;
            overflow: hidden;
        }

        .custom-tooltip {
            --bs-tooltip-bg: var(--bs-primary);
        }

        .custom-popover {
            --bs-popover-max-width: 200px;
            --bs-popover-border-color: var(--bs-primary);
            --bs-popover-header-bg: var(--bs-primary);
            --bs-popover-header-color: var(--bs-white);
            --bs-popover-body-padding-x: 1rem;
            --bs-popover-body-padding-y: .5rem;
        }

        .colored-word .letter {
            position: relative;
            font-weight: 900;
            text-align: center;
            text-transform: uppercase;
        }

        .letter-red {
            color: #dc3545;
            border: 1px solid #dc3545;
        }

        .letter-blue {
            color: #0d6efd;
            border: 1px solid #0d6efd;
        }

        .letter-green {
            color: #198754;
            border: 1px solid #198754;
        }

        .letter span {
            position: absolute;
            top: 50%;
            left: 50%;
            margin: 0 -50% 0 0;
            transform: translate(-50%, -50%)
        }

        @media (min-width: 992px) {
            .colored-word .letter {
                font: 42px Arial bold normal;
                width: 60px;
                height: 60px;
                margin: 4px;
            }
        }

        @media (max-width: 991px) {
            .colored-word .letter {
                font: 35px Arial bold normal;
                width: 50px;
                height: 50px;
                margin: 2px;
            }
        }

        #keyboard, #keyboard_btn {
            max-width: 600px;

        }

        #keyboard .border {
            align-items: center;
            justify-content: center;
            padding: 1px !important;
        }

        #remove_btn img {
            filter: invert(60%);
        }

    </style>
{% endblock %}


{% block title %}
    Игра угадай слово
{% endblock %}

{% block body_block %}
    <div class="container-xl" id="game-field">
        {% block start_game %} {% endblock %}


        <div id="wordDisplay">
            {% block entered_words %} {% endblock %}
            <!-- Здесь будут отображаться введённые слова -->
        </div>
        {% block input_word %} {% endblock %}
    </div>

{% endblock %}


