{% extends 'home/header.html' %}
{% load static %}

{% block inhead %}
    <link rel="stylesheet" href="{% static 'guess_the_word_game/style.css' %}">
{% endblock %}


{% block title %}
    Игра угадай слово
{% endblock %}

{% block body_block %}
    <div class="container-xl" id="game-field">
        {% block start_game %} {% endblock %}


        <div id="wordDisplay">
            {% block entered_words %} {% endblock %}
            <!-- Здесь будут отображаться введённые слова -->
        </div>
        {% block input_word %} {% endblock %}
    </div>

{% endblock %}


