{% extends 'guess_the_word_game/game.html' %}
{% load static %}


{% block start_game %}

    <div class="row text-center">
        <div class="col text-center">
            <h2>Игра "Отгадай слово"</h2>
            <h5 class="link-success">Подбор слова</h5>
        </div>
    </div>


{% endblock %}

{% block entered_words %}
    <h4 class="link-success my-4">Какое слово хотите получить, {{ user.get_username }}?</h4>
    <form id="getPatternForm">
        {% csrf_token %}
        <input type="text" name="wrong_words" id="wrong_words"
               placeholder="Введите слова, которые не подошли"
               class="form-control border-white text-white focus-ring focus-ring-light mt-4"
               aria-label="слова, которые не подошли" aria-describedby="wrong words"
               value="{{ wrong_words|join:"," }}"
               title="Пожалуйста, введите слова русскими буквами, разделяя их запятыми или пробелами">
        <div class="row">
            {% for word in frequent_words %}
                <div class="col-auto frequent_word mt-4 {% if word in wrong_words %}visually-hidden{% endif %}">
                    <a class="btn btn-outline-light text-center" onclick="transferTextAndHide(event)" role="button">
                        {{ word }}
                    </a>
                </div>
            {% endfor %}
        </div>
        <input type="text" name="excluded_letters" id="excluded_letters"
               placeholder="Введите буквы, которых нет в слове"
               class="form-control border-danger text-danger focus-ring focus-ring-danger mt-4"
               aria-label="буквы, которых нет в слове" aria-describedby="excluded letters"
               value="{{ excluded_letters }}"
               pattern="[а-яёА-ЯЁ]+" title="Пожалуйста, введите только русские буквы без запятых и пробелов">
        <div class="visually-hidden text-warning">
            <div class="m-4">Присутствуют одинаковые буквы в искомых и исключённых.</div>
        </div>

        <input type="text" name="letters" id="letters" placeholder="Введите дополнительные буквы"
               class="form-control border-primary text-primary focus-ring focus-ring-primary mt-4"
               aria-label="дополнительные буквы" aria-describedby="letters" value="{{ letters }}"
               pattern="[а-яёА-ЯЁ]+" title="Пожалуйста, введите только русские буквы без запятых и пробелов">
        <div class="input-group mb-3 my-4">
            <input type="text" name="pattern" id="pattern" autofocus placeholder="Введите маску слова, например: Сл*в*"
                   class="form-control border-success text-success focus-ring focus-ring-success"
                   aria-label="Введите маску слова" aria-describedby="pattern" value="{{ pattern }}"
                   title="Пожалуйста, введите только русские буквы и *, от 4 до 7 символов"
                   minlength="4" maxlength="7" required>
            <button class="btn btn-success btn-lg visually-hidden" type="submit" id="get_mean_btn">Найти слова</button>
            <button class="btn btn-success btn-lg" onclick="remove_duplicate()" id="find_mean_btn">Подобрать Слова
            </button>
        </div>
    </form>
    <div class="row">
        {% for word in matches %}
            <div class="col col-auto "> {{ word }} </div>
        {% endfor %}
        {% if not matches %}
            <div class="col col-auto "> Не смогли подобрать слова!</div>
        {% endif %}
    </div>

    <script>
        let clearAllInput, remove_duplicate, transferTextAndHide;

        document.addEventListener("DOMContentLoaded", () => {
            const wrongWordsEl = document.querySelector("#wrong_words");
            const patternEl = document.querySelector("#pattern");
            const lettersEl = document.querySelector("#letters");
            const excludedLettersEl = document.querySelector("#excluded_letters");
            const warningTextEl = document.querySelector(".text-warning")

            transferTextAndHide = function (event) {
                const callingElement = event.target;
                if (wrongWordsEl.value && wrongWordsEl.value.slice(-1) !== ',') wrongWordsEl.value += ',';
                const callingElementText = callingElement.textContent.trim().toLowerCase();
                wrongWordsEl.value += callingElementText;
                const combinedString = excludedLettersEl.value.toLowerCase() + callingElementText;
                excludedLettersEl.value = Array.from(new Set(combinedString)).join('');
                callingElement.parentElement.classList.add("visually-hidden");
            }

            remove_duplicate = function () {
                const charToRemove = new Set([...patternEl.value.toLowerCase(), ...lettersEl.value.toLowerCase()]);
                let letter_result = '';
                for (let char of excludedLettersEl.value.toLowerCase()) {
                    if (!charToRemove.has(char)) {
                        letter_result += char;
                    }
                }
                excludedLettersEl.value = letter_result;
            }


            clearAllInput = function () {
                wrongWordsEl.value = lettersEl.value = excludedLettersEl.value = '';
                patternEl.value = "*****";
                for (const el of document.querySelectorAll(".frequent_word")) {
                    el.classList.remove("visually-hidden");
                }
            }

            const handleInputChange = (event) => {
                let {id, value} = event.target;
                if (id === 'wrong_words') {
                    let wrong_words_str = event.target.value.replace(/[^А-Яа-я]+/g, ',').toLowerCase();
                    event.target.value = wrong_words_str.startsWith(',') ? wrong_words_str.slice(1) : wrong_words_str;
                    const combinedString = excludedLettersEl.value.toLowerCase() + event.target.value.replaceAll(',', "");
                    excludedLettersEl.value = Array.from(new Set(combinedString)).join('');
                } else if (id === 'pattern') {
                    event.target.value = event.target.value.replace(/[^а-яА-Я/*]/g, "*");
                } else {
                    event.target.value = event.target.value.replace(/[^а-яА-Я]/g, "");
                }
                checkRepeatedLetters();
            };

            [wrongWordsEl, patternEl, lettersEl, excludedLettersEl].forEach(el => {
                el.addEventListener('input', handleInputChange);
            });

            function checkRepeatedLetters() {
                const combinedValue = patternEl.value.toLowerCase() + lettersEl.value.toLowerCase();
                for (let letter of excludedLettersEl.value.toLowerCase()) {
                    if (combinedValue.includes(letter)) {
                        warningTextEl.classList.remove("visually-hidden");
                        return;
                    } else warningTextEl.classList.add("visually-hidden");
                }
            }
        });


    </script>
{% endblock %}
{% block input_word %}

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <div class=" col-xl-2 p-2">
            <div class="btn btn-outline-warning d-flex text-center" role="button" onclick="clearAllInput();">
                Очистить ввод
            </div>
        </div>
        <div class=" col-xl-2 p-2">
            <a class="btn btn-outline-success d-flex text-center" href="{% url 'guess_the_word_game' %}" role="button">
                Назад в игру
            </a>
        </div>
    </div>
    <div class="toast-container top-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <svg class="bd-placeholder-img rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg"
                     aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#007aff"></rect>
                </svg>
                <strong class="me-auto toast-title">Системное сообщение</strong>
                <small>Только что</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Внимание!
                Спасибо за внимание!
            </div>
        </div>
    </div>
{% endblock %}
