{% extends 'home/header.html' %}

{% block title %}
    Погода
{% endblock %}

{% block body_block %}
    <div class="container-lg">
        <div class="row">
            <div class="col-lg-5 offset-lg-1">
                <h1>Погода в вашем городе</h1>
                <label for="city">Город</label> <br>
                <form action="" method="GET">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        {{ form.name }}
                        <button class="btn btn-primary" type="submit" id="button-addon2">Узнать</button>
                    </div>

                    <div class="locate btn btn-outline-primary col-12 py-0 my-0">
                        <span>Вычислить координаты по IP</span>
                        <span>
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             x="0px" y="0px" width="50px" height="50px" viewBox="0 0 50 50"
                             enable-background="new 0 0 50 50" xml:space="preserve">
                            <polyline fill="#01B2EB"
                                      points="23.241,25.775 11,25.775 35.768,12.018 24.24,38.283 "></polyline>
                            </svg>
                            </span>
                    </div>
                </form>
                <div class="accordion my-3" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Погода сейчас
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                {% include "weather/weather_now.html" %}
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Погода на день
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                {% include "weather/weather_day.html" %}
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Графики
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body p-2">

                                <div id="carouselPlot" class="carousel slide">
                                    <div class="carousel-indicators mb-0">
                                        <button type="button" data-bs-target="#carouselPlot" data-bs-slide-to="0"
                                                class="active" aria-current="true" aria-label="График 1"></button>
                                        <button type="button" data-bs-target="#carouselPlot" data-bs-slide-to="1"
                                                aria-label="График 2"></button>
                                        <button type="button" data-bs-target="#carouselPlot" data-bs-slide-to="2"
                                                aria-label="График 3"></button>
                                    </div>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img class=" img-fluid rounded mx-auto d-block"
                                                 src="data:image/png;base64,{{ plot_temp }}"
                                                 alt="Chart Image">
                                        </div>
                                        <div class="carousel-item">
                                            <img class=" img-fluid rounded mx-auto d-block"
                                                 src="data:image/png;base64,{{ plot_uvi }}"
                                                 alt="Chart Image">
                                        </div>
                                        <div class="carousel-item">
                                            <img class=" img-fluid rounded mx-auto d-block"
                                                 src="data:image/png;base64,{{ plot_rain }}"
                                                 alt="Chart Image">
                                        </div>
                                    </div>
                                    <button class="carousel-control-prev pe-4" type="button"
                                            data-bs-target="#carouselPlot"
                                            data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Предыдущий</span>
                                    </button>
                                    <button class="carousel-control-next ps-4" type="button"
                                            data-bs-target="#carouselPlot"
                                            data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Следующий</span>
                                    </button>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-4 offset-lg-1">
                <h2>Ранее смотрели:</h2>
                {% for info in all_cities_info %}
                    <div class="alert alert-info">
                        <div class="row">
                            <div class="col-9">
                                <b>Город: </b>{{ info.city }}<br>
                                <b>Температура:</b>{{ info.temp }} °C <br>
                            </div>
                            <div class="col-2 offset-1">
                                <img src="https://openweathermap.org/img/w/{{ info.icon }}.png" class="img-thumbnail"
                                     alt="Иконка погоды">
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script>

        function findMe() {
            if (navigator.geolocation) {
                // Геолокация доступна
                navigator.geolocation.getCurrentPosition(successCallback, errorCallback);
            } else {
                // Геолокация не поддерживается в этом браузере
                console.log("Геолокация не поддерживается");
            }

            function successCallback(position) {
                const latitude = position.coords.latitude.toString();
                const longitude = position.coords.longitude.toString();
                const accuracy = position.coords.accuracy.toString();
                console.log("Широта:", latitude);
                console.log("Долгота:", longitude);
                console.log("Точность:", accuracy);
                fetch("https://api.foreca.net/locations/".concat(longitude, ",").concat(latitude, ".json?accuracy=").concat(accuracy, "&legacyFormat=true&pplx=true&lang=ru"))
                    .then(response => response.json()) // Преобразование ответа в формат JSON
                    .then(data => {
                        // Обработка полученных данных
                        const input = document.getElementById("city");
                        input.value = data.name;
                        console.log(data);
                    })
                    .catch(error => {
                        // Обработка ошибок
                        console.error('Ошибка:', error);
                    });
            }

            function errorCallback(error) {
                console.log("Произошла ошибка при получении координат:", error.message);
            }
        }

        document.querySelector(".locate").addEventListener("click", findMe)
    </script>
{% endblock %}