<!-- Modal -->
<div class="modal fade mt-5" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Системное сообщение</h1>
                <button onclick="closeModal()" type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button onclick="closeModalAndRestart()" type="button" class="btn " data-bs-dismiss="modal">Закрыть
                </button>
                <button onclick="closeModalAndCancel()" type="button"
                        class="btn btn-primary visually-hidden btn-cancel">Отмена
                </button>
            </div>
        </div>
    </div>
</div>